[2015-08-09 03:07] jefdaj commented on #4
What commands did you try and what error message did you get?

[2015-08-09 06:40] PiscesDream commented on #4
I made some changes on setup.py and can install pySBOL. I also create a [pull request](https://github.com/SynBioDex/pySBOL/pull/5)
But I cannot import sbol, it shows:

  File "<stdin>", line 1, in <module>
  File "build/bdist.cygwin-2.0.4-x86_64/egg/sbol/__init__.py", line 3, in <module>
  File "build/bdist.cygwin-2.0.4-x86_64/egg/sbol/sbol.py", line 17, in <module>
ImportError: No module named li

[2015-08-09 15:56] jefdaj commented on #4
Ah I see. I haven't worked on this in a couple years and looks like they're changing around the install code recently. Hopefully not dropping linux support! I should pass this off to @bbartley.

[2015-08-09 18:32] bbartley commented on #4
Hi,

You are receiving that error because pySBOL depends on the C library, libSBOL, and it can't find the dependency.  Unfortunately at this time pySBOL is only distributed with precompiled binaries for Windows and MacOSX.  However, I'd be happy to work with you to get it working on Linux.  There are two options to proceed:

1.  Build libSBOL on Linux yourself and copy the binary into the pySBOL p

[2015-08-10 13:45] PiscesDream commented on #4
Hi bbartley,

It's great to know that we still get hopes to use pySBOL on Linux-like system.
I tried to compile (using g++) on my cygwin (A linux-like simulator on Windows). And I got a file call `cygsbol.dll`. But it doesn't work when I import it, it says:
`ImportError: dynamic module does not define init function (initcygsbol)`
I searched for this problem and found that there is something missin

[2016-03-02 20:49] bbartley opened #1 "Constructor rvalue cannot be passed as a reference to certain methods"
This example results in a memory violation error:

cd = ComponentDefinition("abc.org","1")
cd.sequenceAnnotations.add(SequenceAnnotation("abc.org","2"))
cd.sequenceAnnotations[0].identity.get()

However, this works:

cd = ComponentDefinition("abc.org","1")
sa = SequenceAnnotation("abc.org","2")
cd.sequenceAnnotations.add(sa)
cd.sequenceAnnotations[0].identity.get()

[2016-03-28 18:41] graik opened #3 "readme code example: capitalized variables ..."
a strictly cosmetic issue but capitalized variable names are quite un-pythonic :) first-letter capitalization is informally reserved for class names. All-capital constants are OK as well.

[2016-03-28 19:03] bbartley commented on #3
I agree, the capitalized variable names are generally considered bad form in Python, but in this case it is a deliberate choice that helps distinguish SBOL definitions from instances.  Hence there are both CRISPRTemplate and crispr_template variables, for the Module Definition and the Module instance, respectively.  I am open to other conventions that help make these subtle nuances about SBOL more

[2016-03-28 19:29] graik commented on #3
Ah, I see.
A perhaps better convention could be:

[code]

or:

[code]

The latter highlighting that there could be more than one instance. Though
this may not work universally because devs may want to enumerate different
versions of MDef as well.

On Mon, Mar 28, 2016 at 10:03 PM, bbartley notifications@github.com wrote:

##

---

Raik Grünberg
http://www.raiks.de/contact.html

---

[2016-05-05 14:12] graik opened #4 "support Python 3.0"
as discussed, Python 3 now is increasingly considered the standard choice.

[2016-07-01 23:18] rupalkhilari opened #5 "Possible issue with reading files ?"
I am trying to use pysbol2 to parse the [CRISPR_example.xml](https://github.com/SynBioDex/libSBOL/blob/master/example/CRISPR_example.xml)  file. It seems like the data is not parsed and read into the required fields consistently.

[code]

I believe the `s.version` and `s.displayId` properties should also contain info as per the file.
Am I missing something here ? I wasn't able to find any example

[2016-08-15 13:37] jamesscottbrown opened #6 "addSequence() does not support lists of sequences"
This line in the example in README.md:

[code]

Gives error:

[code]

However, calling addSequence() separately for each sequence does notwork correctly:

[code]

[2016-08-15 13:46] jamesscottbrown opened #7 "Example in README should include an include statement"
It would be helpful if the example code in the README file included an include statement so that it is entirely self-contained:

[code]

[2016-08-15 13:52] jamesscottbrown opened #8 "Release 2.0.1b does not work"
After downloading the tarball for 2.0.1b, extracing and running `python setup.py install`, some parts of the package seem to be missing:

[code]

In contrast, installing by cloning the repository and running `python setup.py --install` works fine.

[2016-08-15 14:00] jamesscottbrown commented on #8
This is not actually surprising, since `SO_RBS` was not added until commit 93f49fdc58613e4bc52169106507fc0950079382, but caused confusion when someone tried running the example code on the current README using the latest release.

[2016-08-15 14:14] jamesscottbrown opened #9 "ModuleDefinition NotImplementedError problem"
The file  pysbol2/Mac_OSX/sbol/CRISPR_example.py  fails with error:

[code]

[2016-09-16 23:46] 0u812 opened #10 "Binaries are not redistributable"
_libsbol.so links to `/usr/local/opt/raptor/lib/libraptor2.0.dylib` which is a hard-coded path. Of course, the raptor library won't exist in that location on most users' machines. Please use static linking or rpaths so the binaries can be redistributed.

[2016-09-16 23:50] 0u812 commented on #10
On OS X btw

[2016-09-17 00:30] bbartley commented on #10
Not sure why this happening just yet.  It links statically by default on Windows.  Probably there is a CMake flag somewhere that is missing.
I think that path is set by CMake's FindLibrary directive, and this path must be where Homebrew puts the raptor module.      From: Kyle Medley notifications@github.com
 To: SynBioDex/pysbol2 pysbol2@noreply.github.com
 Sent: Friday, September 16, 2016 4:46 PM

[2016-09-17 00:39] 0u812 commented on #10
If there's a .a next to the .dylib you should be able to link to that
instead.

J Kyle Medley, PhD Student
Bioengineering/BPSD, Sauro Lab
University of Washington, Seattle
p. (206) 659-9932
skype: jkylemedley

On 9/16/16 5:30 PM, bbartley wrote:

[2016-10-18 23:15] hsauro opened #11 "Instructions for installation are woefully inadequate."
I tried to install the windows version of pysbiol using the installation instructions provided on the github page and was unable to without the help of Bryan. It also took 15 minutes to install.

Building from source needs to be more explicit. Create instructions for Windows, Mac snd Linux. The current intructions need to be made much more explicit, eg what does Git the package mean? Everything ne

[2016-10-20 01:30] kirichoi opened #12 "Create binary installer for Windows"
Create binary installer for Windows 32 and 64 bit only.

[2016-10-26 07:10] kirichoi opened #13 "Support pip"
Support pip install for pySBOL on Windows, Mac and Linis

[2016-10-26 07:11] kirichoi opened #14 "Create documentation for pySBOL"
Create sphinx doc for pySBOL

[2016-11-14 17:41] neilswainston opened #15 "Document write method causes segmentation fault"
See enclosed example...

[io.zip](https://github.com/SynBioDex/pysbol2/files/590006/io.zip)

[2016-11-14 18:17] hsauro commented on #15
We basically need a proper test suite and testing system, I'll add it to
the issues.

Herbert

On Mon, Nov 14, 2016 at 9:41 AM, Neil Swainston notifications@github.com
wrote:

[2016-11-14 18:19] hsauro opened #16 "Add a test suite and testing framework to pysbol2"
Add a test suite and testing framework to pysbol2.

We should build a set of test cases for regression testing of pysbol2.

[2016-11-14 18:22] hsauro opened #17 "Add a self-test to pysbol2"
Add a self test to the python package. For example:

import sbol
sbol.selftest() or sbol.runTest()

See how its done in roadrunner.

[2016-11-16 06:43] #4 closed, assigned to nobody

[2016-11-16 06:44] #10 closed, assigned to nobody

[2016-11-16 06:45] #6 closed, assigned to nobody

[2016-11-16 06:45] #1 closed, assigned to nobody

[2016-11-16 06:45] #7 closed, assigned to nobody

[2016-11-16 06:46] #8 closed, assigned to nobody

[2016-11-16 17:04] hsauro commented on #14
Waiting for ability to build python bindings on windows.

[2016-11-16 17:05] hsauro opened #18 "Create python bindings on windows"
Work out how to build python bindings on windows using 2015

[2016-11-16 17:06] hsauro commented on #12
Waiting for pysbol on vs 2015

[2016-11-16 17:07] hsauro commented on #9
Test whether is still a problem

[2016-11-16 17:12] hsauro commented on #3
Make sure examples are consitent.

[2016-11-17 00:42] bbartley opened #19 "sbol.py"
Add CMake directive to copy sbol.py and accompanying project files into each of the target build folders.  This will streamline the pip release process and reduce manual copying of files required to configure the pip package properly.

[2016-11-18 19:18] hsauro opened #20 "Add dnaplotlib to pysbol"
Add dnaplotlib support to pysbol/

[2016-11-21 18:47] #15 closed, assigned to bbartley

[2016-11-21 19:46] bbartley commented on #16
Added the testing framework.  Now, to do meaningful unit tests for round-tripping a file, need comparison methods Document::isEqualTo() and SBOLObject::isEqualTo() in core library

[2016-11-23 15:44] #12 closed, assigned to kirichoi

[2016-11-23 15:45] #18 closed, assigned to kirichoi

[2016-11-23 16:32] #16 closed, assigned to kirichoi

[2016-11-23 16:32] hsauro opened #21 "Add docs on how to add tests to the testing framework in python"
Add docs on how to add tests to the testing framework in python

[2016-11-23 16:33] hsauro opened #22 "Add a sample test case to the test framework for Python"
Add  a sample test case to the test framework for Python

[2016-11-23 16:37] hsauro opened #23 "Get CRISPR Tutorial for Python library working"
Get CRISPR Tutorial for Python library working

[2016-11-30 06:55] kirichoi commented on #9
This example is very outdated now. Will be removed.

[2016-11-30 06:57] kirichoi opened #24 "pySBOL crashing in Windows when using read()"
Currently, pySBOL crashes with reading SBOL documents.

[2016-11-30 07:17] bbartley commented on #24
To my knowledge the Window binaries haven't been updated in a while.  There were some bugs with reading/writing that were resolved recently.  My most recent build on Mac appears to be working.

[2016-11-30 07:54] kirichoi commented on #24
Fixed by updating raptor. I missed to set rdfxml and I think that caused the issue :p New Python binary installers for Windows incoming.

[2016-11-30 07:54] #24 closed, assigned to kirichoi

[2016-11-30 16:49] hsauro commented on #23
By Dec 7

[2016-11-30 16:56] hsauro commented on #22
Add some simple test by Dec 7 plus add instructions on how someone can run the test.

[2016-11-30 16:59] hsauro commented on #13
By end of the year (2016)

[2016-11-30 16:59] #3 closed, assigned to bbartley

[2016-11-30 17:36] 0u812 commented on #23
I'm not sure what the CRISPR tutorial is or what I have to do to get it working

Sent from my iPhone

[2016-11-30 17:39] hsauro commented on #23
You were accidently put ont he issue, ignore it, it was reallocated to Kiri.

HErbert

On Wed, Nov 30, 2016 at 9:36 AM, Kyle Medley <notifications@github.com>
wrote:

[2016-12-06 22:46] kirichoi commented on #9
New example is added.

[2016-12-06 22:46] #9 closed, assigned to kirichoi

[2016-12-06 23:08] kirichoi opened #25 "Catch exceptions in Python"
Currently, Python does not catch exceptions generated by the library.
This is especially problematic when using something like IPython console, where there might be no messages to alert the users. Handling errors must be implemented better in Python libraries using fixed SWIG setup.

[2016-12-07 17:12] cjmyers commented on #23
Move the code into the tutorial document in overleaf and update text.

[2016-12-10 03:11] kirichoi opened #26 "Methods componentDefinitions, moduleDefinitions, etc. are improperly implemented"
Methods such as componentDefinitions and moduleDefinitions are unreliable. Possibly due to SWIG wrapper.

[2016-12-14 06:51] kirichoi opened #27 "Crashes when illegal arguments are made"
Python crashes when improperly formed function calls are made.
For example,
[code]
Crashes Python. Need to implement fault checks.

[2016-12-14 06:55] kirichoi opened #28 "Need to raise error when missing URI is called"
Currently, when user calls a function with nonexistent URI, the functions such as getSequence returns nothing. It should raise an error instead.

[2016-12-14 06:57] kirichoi commented on #28
Oops, this is actually a duplicate of #25

[2016-12-14 06:57] #28 closed, assigned to nobody

[2016-12-14 07:02] kirichoi commented on #5
The issue with missing displayId/version is fixed in the latest Windows release. Mac OSX release will to available soon.

Still investigating issue with missing sequences.

[2016-12-14 07:50] kirichoi opened #29 "Need methods to return number of elements"
Need methods to return number of elements in roles, etc.

[2016-12-14 14:35] #11 closed, assigned to bbartley, kirichoi

[2016-12-14 14:36] kirichoi commented on #23
Tutorial document updated

[2016-12-14 16:33] hsauro commented on #26
By Dec 21st.

[2016-12-14 16:34] hsauro commented on #23
By Dec 21st of December

[2016-12-14 16:34] hsauro commented on #17
By Dec 21st

[2016-12-14 16:36] #5 closed, assigned to kirichoi

[2016-12-14 16:38] kirichoi commented on #27
@bbartley: Any ideas?

[2016-12-14 16:39] hsauro commented on #21
By Dec 21st

[2016-12-14 16:41] hsauro opened #30 "Rename pybol2 to pysbol"
Rename pysbol2 to pysbol (Deprecate current pysbol).

[2016-12-14 16:45] hsauro commented on #14
At least one page with an example in sphinx.

[2016-12-14 16:53] #29 closed, assigned to nobody

[2016-12-14 16:54] hsauro commented on #27
This will be solved when a wrapper around SWIG.

[2016-12-20 10:47] kirichoi commented on #14
Beta version on https://pysbol2.readthedocs.io/en/latest/index.html

[2016-12-21 02:15] kirichoi commented on #14
Initial commit completed through 7a34ced63aaab92649d8d4594593e8696896f4ac

[2016-12-21 02:15] #14 closed, assigned to bbartley, kirichoi

[2016-12-21 02:20] kirichoi opened #31 "Changed behavior in sequence.assemble"
It seems like Sequence.assemble() method is changed. Thus, the example here:

https://pysbol2.readthedocs.io/en/latest/sbol_examples.html

is not fully functional although it used to.
The problematic part is `gene_seq.assemble()`
Any ideas @bbartley?

[2016-12-21 02:21] kirichoi opened #32 "Update API doc"
Some fields in API doc are missing. Either add them or remove it if it's not suppose to be accessible.

[2016-12-21 03:39] bbartley commented on #31
The assemble method is failing because the Sequences have not been added to the Document.  The problem actually occurs doc.addSequence([..,...,...]).  Document.addSequence() doesn't currently accept lists as an argument (althoughthe C++ library does allow a vector of Sequence pointers, but this function hasn't been fully wrapped).  Instead, the user has to specify one Sequence object at a time, eg

[2016-12-21 06:56] #31 closed, assigned to nobody

[2016-12-21 06:57] kirichoi opened #33 "Update doc.addSequence to accept list in addition to string"
Refer to #31

[2016-12-21 07:52] kirichoi opened #34 "doc.close() causes Python to crash"
Method doc.close() causes Python to crash occasionally.

[2016-12-21 07:59] bbartley commented on #25
libsbol a938514 added error handling to SWIG interface so that numeric error codes are propagated from C++ to Python

[2016-12-21 08:19] kirichoi commented on #26
This is caused by SBOL error 1, i.e.:

SBOL error 1:Object http://sbols.org/CRISPR_Example/ModuleDefinition/CRISPR_Template/1.0.0 not found

[2016-12-21 08:26] kirichoi commented on #26
This is bit strange because the method should also look for http://sbols.org/CRISPR_Example/CRISPR_Template

[2016-12-21 08:29] kirichoi commented on #25
I'm reopening this because the error message is too basic i.e. it just returns something like
`RuntimeError: 1`

[2016-12-21 08:30] bbartley commented on #19
libsbol commit b813af2 fixes this on Mac and Linux.  CMake build targets (x32, x64, Python2 and Python3) produce the proper folder configuration for pip deployment.  Still needs similar  implementation for Windows build.

[2016-12-21 16:00] kirichoi commented on #19
Windows fix coming soon. BTW I was looking to the code and it seems like it's copying everything from pre-compiled code. I don't think this is the right way to do.

[2016-12-21 16:06] kirichoi commented on #19
Commit SynBioDex/libSBOL@944dc23cdffeea5623b81dfbde9da650d2a9a9ce is for Windows

[2016-12-21 18:37] bbartley commented on #25
libsbol b612e33b should fix this.  error messages are no longer piped through stderr and should pass through to Python interpreter

[2016-12-21 19:43] bbartley commented on #34
Fixed in https://github.com/SynBioDex/libSBOL/commit/0d1f43d81a2c0bc7dd0fd0eacea1a62d2a515983.  Added SWIG directives to ignore some members of Document and SBOLObject classes

[2016-12-21 19:43] #34 closed, assigned to nobody

[2016-12-21 19:51] bbartley commented on #17
Self-test can be run:
import sbol
sbol.testSBOL()

[2016-12-21 19:51] #17 closed, assigned to kirichoi

[2016-12-23 06:47] kirichoi commented on #25
Confirmed fixed

[2016-12-23 06:47] #25 closed, assigned to nobody

[2016-12-23 06:49] kirichoi commented on #27
Apply #34 treatment

[2016-12-23 09:29] kirichoi commented on #19
Commit SynBioDex/libSBOL@df1b561d2f8c0f2781bd701326374570c4923372 fix for Linux

[2016-12-23 18:04] kirichoi commented on #19
Commit SynBioDex/libSBOL@75614a5978ab0828728c3af8e59735f4ba59ef19 should fix this for Mac. Please check.

[2016-12-24 02:19] #19 closed, assigned to kirichoi

[2016-12-24 02:24] kirichoi commented on #22
Need instructions

[2016-12-24 02:40] kirichoi commented on #21
Commit 448814490c24fefdeba110bd4e2785e64fe1358d adds testing instructions.
Need more tests.

[2016-12-25 02:42] 3ach opened #35 "Segfault when giving filename"
Document.write() gives a segmentation fault when I try and write to a directory using tilde.

`doc.write('CRISPR.xml')` works, but `doc.write('~/CRISPR.xml')` throws a segfault.

[2016-12-26 01:50] kirichoi commented on #35
My understanding is that ~ sign is terminal-specific and not natively supported by neither Python nor C++ to point to home directory. A fix is to add a path-checking sequence in Document.write() that automatically translates some symbols. We also need a default file extension to save the file as when the extension is not given

[2016-12-26 01:54] kirichoi commented on #35
Moving to libSBOL repo

[2016-12-26 01:54] #35 closed, assigned to nobody

[2017-01-09 09:07] cjmyers opened #36 "Change wasDerivedFrom to a set"
Change the wasDerivedFrom property to a set to support recently approved SEP.

[2017-01-11 08:00] kirichoi opened #37 "Incorrect object is returned when full URI is not used"
In functions such as getComponentDefinition(), incorrect object is returned when full URI is not supplied.

[2017-01-11 08:09] #22 closed, assigned to bbartley, kirichoi

[2017-01-11 08:54] kirichoi commented on #21
Added to wiki

[2017-01-11 08:54] #21 closed, assigned to bbartley, kirichoi

[2017-01-14 20:57] bbartley commented on #37
This error occurred for two reasons:  1)  at the user level, because the user was trying to retrieve a top level object from a Document by its displayId (rather than persistentId),  2) at the code level, because of sloppy pattern matching when looking up a top level object by the user's argument.  The second issue has been corrected.  For the first issue, we need to discuss further if we want to a

[2017-01-17 22:03] #37 closed, assigned to nobody

[2017-01-26 22:37] #23 closed, assigned to kirichoi

[2017-01-27 01:53] kirichoi commented on #26
This is probably coming from following sets of lines generated for .cxx file:

[code]

There are two `if (argc == 2)` arguments for some reason, but I cannot figure out where this is added from.
@bbartley : Any idea?

[2017-01-27 06:05] bbartley commented on #26
In libsbol.i are there multiple instantiations of ownedModuleDefinitions? Note that SWIG issues a warning during the build process that some templates are instantiated twice.  I have always assumed this has no effect

Sent from my iPhone

[2017-01-27 14:56] bbartley commented on #32
Utility functions in the C++ API which are not meant to be exposed are now hidden with Doxygen conditional statements.

API documentation can be further improved by the following:
* Documentation for constructors shows an optional arguments dictionary *args, but it should explicitly show the expected arguments (presumably this happens when
* Class documentation should show inherited members
* If p

[2017-01-27 15:32] kirichoi commented on #26
None that I can immediately find of.

[2017-01-27 16:28] kirichoi commented on #26
Ah, found it: documents.h line 539 to line 582

[2017-01-27 16:45] bbartley commented on #26
Hmm.  I think I see a problem here.  The code block in 539-552 should execute regardless of how the previous if statement evaluates...in other words, it should not be contained in an else clause.  That could be the problem

      From: Kiri Choi <notifications@github.com>
 To: SynBioDex/pysbol2 <pysbol2@noreply.github.com>
Cc: bbartley <bartleyba@yahoo.com>; Mention <mention@noreply.github.com>
 S

[2017-01-27 20:26] kirichoi commented on #26
This might be more of an issue of the fact that there are actually two get() functions.

[2017-01-27 20:42] bbartley commented on #26
Are you referring to the following methods?
SBOLClass& OwnedObject<SBOLClass>::get(const std::string uri)SBOLSubClass& OwnedObject< SBOLClass >::get(std::string uri)

I don't suspect this to be a problem.  By default SWIG ignores these functions.  However, particular instantiations of these functions are declared in libsbol.i, so if this is indeed the problem, that's where I'd look for it.  You mi

[2017-01-27 21:34] kirichoi commented on #26
This is getting really confusing. The problem is caused by the code automatically adding 'ModuleDefinition' for example, to URI. Remember where you implemented this?

[2017-01-27 21:40] bbartley commented on #26
This behavior can be turned on and off by toggleSBOLCompliantTypes() and the current status of the flag can be checked by compliantTypesEnabled()
If there is an accessor method where it is not checking this flag, then it may be autoconstructing the URI incorrectly

      From: Kiri Choi <notifications@github.com>
 To: SynBioDex/pysbol2 <pysbol2@noreply.github.com>
Cc: bbartley <bartleyba@yahoo.com

[2017-01-27 21:50] kirichoi commented on #26
Ah, now it makes sense. We should not implement toggleSBOLCompliantTypes() as a switch that can turn on and off. Set toggleSBOLCompliantTypes as a boolean which gets checked for it's value internally.

[2017-01-27 22:29] kirichoi commented on #26
So I am testing out a new way to toggle SBOLCompliantTypes. The function will now accept boolean as optional argument. I will try to retain the original functionality. This will be applied to toggleSBOLCompliantTypes(), toggleSBOLCompliance(), and toggleExceptions().

[2017-01-27 22:39] bbartley commented on #26
Eventually these should be deprecated and implemented using getOption and setOption (see issue tracker)

Sent from my iPhone

[2017-01-27 22:55] kirichoi commented on #26
Sure, sounds good.
Commit SynBioDex/libSBOL@522ab6173d534e28dab8c4f36fcf23554321a75f fixes the issue for now.

[2017-01-27 22:55] #26 closed, assigned to kirichoi

[2017-01-31 01:44] kirichoi commented on #33
Commit SynBioDex/libSBOL@54651d2968f09be284a652c43717c8bea7ab8caf fixes to issue

[2017-01-31 01:44] #33 closed, assigned to kirichoi

[2017-02-01 01:48] kirichoi opened #38 "Install target _libsbol"
Update CMakeList to install _libsbol target

[2017-02-01 02:34] bbartley opened #39 "Need to discuss strategies for memory management"
The following Python code causes null pointer exception, because garbage collector frees the C++ object when the `cdef' reference goes out of scope:
[code]
A workaround is this:
[code]
But the implementation is not ideal.  Need to discuss the best strategy for memory management

[2017-02-02 20:17] kirichoi commented on #38
Fixed by SynBioDex/libSBOL@5df16f03132c3cb119fb2578c2c55ec61317bd53

[2017-02-02 20:17] #38 closed, assigned to kirichoi

[2017-02-09 23:28] #30 closed, assigned to bbartley

[2017-02-10 15:48] hsauro commented on #39
Check whether ComponentDefinition has refcount > 0 in the swg code when it is created, if not, inc refcount.

[2017-02-10 15:50] hsauro commented on #13
By end of February (2017) or sooner.

[2017-02-10 16:00] kirichoi commented on #32
Fixed by commit SynBioDex/libSBOL@1de702e5ebe47484c6918a24bafd5c5d213d9678

[2017-02-10 16:00] #32 closed, assigned to kirichoi

[2017-02-10 16:00] kirichoi commented on #27
Fixed by commit SynBioDex/libSBOL@1de702e5ebe47484c6918a24bafd5c5d213d9678

[2017-02-10 16:00] #27 closed, assigned to nobody

[2017-02-10 16:47] bbartley commented on #39
Commit https://github.com/SynBioDex/libSBOL/commit/a0ae174ad7a569166f2a1efd87aa35543d06c247 of libsbol restores memory-management of SWIG-Python objects back to Python garbage collector

[2017-02-10 21:06] kirichoi commented on #39
@bbartley Does the commit fix this issue?

[2017-02-10 21:12] bbartley commented on #39
No it doesn't fix the issue.  It just rolls back the kludge I implemented previously to transfer responsibility for memory management to the user.  Because those changes would likely interfere with any attempts to manipulate the Python garbage collector  

      From: Kiri Choi <notifications@github.com>
 To: SynBioDex/pySBOL <pySBOL@noreply.github.com>
Cc: bbartley <bartleyba@yahoo.com>; Mention

[2017-02-10 21:38] hsauro commented on #39
In that case I imagine there is something wrong with the design. Can you show me the SWIG/Python code that creates

cdef = ComponentDefinition('%d' %i_cd)

[2017-02-10 21:50] bbartley commented on #39
This is the C++ generated by SWIG that wraps the constructor...
[code]

[2017-02-10 22:04] hsauro commented on #39
Try this, from looking at the code it appears that ComponentDefinition can take zero arguments. If you call:

from sbol import *
doc = Document()
for i_cd in range(0,10):
    cdef = ComponentDefinition()
    doc.addComponentDefinition(cdef)
doc.write()

do you still get a memory problem?  If so can you replace

 return _wrap_new_ComponentDefinition__SWIG_3(self, args);

in line 14 with

ret  =   _

[2017-02-11 01:08] bbartley commented on #39
Hmm.  Unfortunately it's hard to do it exactly this way, due to the constraints of SWIG, but I get what you are trying to do.  It is probably easier to increment the reference using Python code.

I suspect this will fix the immediate problem, but then cause memory leaks elsewhere.

[2017-02-11 01:10] hsauro commented on #39
But don't make the user have to manage memory, hide it.

On Fri, Feb 10, 2017 at 5:08 PM, bbartley <notifications@github.com> wrote:

[2017-02-12 04:08] kirichoi commented on #39
Maybe something like this on libsbol.i might work?

https://stackoverflow.com/questions/25392139/swig-reference-count-error-with-python-callback

[2017-02-13 03:47] hsauro commented on #39
Sounds promising.

Herbert

On Sat, Feb 11, 2017 at 8:08 PM, Kiri Choi <notifications@github.com> wrote:

[2017-02-17 01:38] kirichoi commented on #39
Are there any developments on this issue?

[2017-02-17 15:40] hsauro opened #40 "Make sure you document closing of sbol document"
Make sure you document that sbol documents should be closed after use.

[2017-02-17 15:41] hsauro opened #41 "Add close to the end of all sbol documents"
Add close to the end of all sbol documents

[2017-02-17 22:50] bbartley commented on #39
A description of the problem can be found in the SWIG documentation [here](http://www.swig.org/Doc2.0/SWIGDocumentation.html#Python_nn30)

Specifically this example:
[code]
As they describe in the SWIG documentation, I'm attempting to implement a solution by dynamically setting the .thisown flag on objects as a user builds a Document.  This seems safer than directly working with the Python garbage

[2017-02-17 23:11] kirichoi commented on #39
Currently, Document::close() method is ignored in the SWIG file. I will fix this and push the changes.

[2017-02-17 23:14] kirichoi commented on #39
Also need to add docstrings for close() method.

[2017-02-20 00:45] bbartley commented on #39
LibSBOL commit   https://github.com/SynBioDex/libSBOL/commit/02884765b6d8f805b04ed5ff7d43322cbd900873 fixes the double deletion error in the example.

This fix will introduce a memory leak when users remove objects from a Document.  Will open a new issue on libsbol for this.  Fortunately, this is an edge case that will not affect the majority of users.

[2017-02-20 03:40] bbartley commented on #40
Closing Documents is no longer needed in Python, as of https://github.com/SynBioDex/libSBOL/commit/02884765b6d8f805b04ed5ff7d43322cbd900873.  Memory will be freed by Python garbage collector.

[2017-02-20 03:40] #40 closed, assigned to bbartley, kirichoi

[2017-02-20 03:41] bbartley commented on #41
Closing Documents in order to free memory in Python is no longer needed as of https://github.com/SynBioDex/libSBOL/commit/02884765b6d8f805b04ed5ff7d43322cbd900873

[2017-02-20 03:41] #41 closed, assigned to bbartley, kirichoi

[2017-02-20 03:44] bbartley commented on #39
Closing this, because the problem is largely resolved.  However, some unlikely edge cases will result in a memory leak.  See https://github.com/SynBioDex/libSBOL/issues/140

[2017-02-20 03:44] #39 closed, assigned to nobody

[2017-02-21 20:23] kirichoi opened #42 "Move instructions on pip to pySBOL doc"
Do it once Windows support pip

[2017-02-22 18:39] tramyn opened #43 "Upload videos of compiling examples on different IDE tool"
Note: This issue is paired with [libSBOL (C, C++)](https://github.com/SynBioDex/libSBOL/issues/142) and [libSBOLj (java)](https://github.com/SynBioDex/libSBOLj/issues/443), and [sbolj (javascript)](https://github.com/SynBioDex/sboljs/issues/10) library issue.

This enhancement/request was brought up at COMBINE 2016. At the website breakout session, the community requested that it would be nice to

[2017-02-22 19:09] tramyn opened #44 "Upload tutorial examples"
Note: This issue is paired with [libSBOL (C, C++)](https://github.com/SynBioDex/libSBOL/issues/143) and [libSBOLj (java)](https://github.com/SynBioDex/libSBOLj/issues/444), and [sbolj (javascript)](https://github.com/SynBioDex/sboljs/issues/11) library issue.

This enhancement/request was brought up at COMBINE 2016. At the website breakout session, the community requested that it would be nice to

[2017-02-22 21:17] bbartley commented on #13
@kirichoi I'm having difficulty building wheels with the versioning scheme we discussed.  For example, "2.1.1-0" and "2.1.1_0" both generate wheels named:

pySBOL-2.1.1.post0-cp27-none-any

Setuptools interprets these version strings as "post-releases".  https://www.python.org/dev/peps/pep-0440/#post-releases  which is not exactly the versioning semantic we want.  Any suggestions?  Maybe it's easi

[2017-02-22 21:49] kirichoi commented on #13
How about using local version identifiers (https://www.python.org/dev/peps/pep-0440/#local-version-identifiers) Does that have any effect when uploaded to PyPI? When set, I am getting something like

pySBOL-2.1.1+0-cp27-cp27m-win_amd64.whl

[2017-02-22 22:04] kirichoi commented on #13
Also lets change Development Status to Production/Stable, i.e.

Development Status :: 5 - Production/Stable

[2017-02-22 22:13] bbartley commented on #13
That looks good.  Will try it out.

[2017-02-22 23:02] bbartley commented on #13
I tried registering a wheel using a local version identifier pySBOL-2.1.1+0 and got this error from PyPI:
HTTPError: 400 Client Error: version: Cannot use PEP 440 local versions. for url: https://upload.pypi.org/legacy/

[2017-02-22 23:52] kirichoi commented on #13
Well that's a bummer. I wonder how matplotlib got 2.0.0-1 up on PyPi. Could it be a manual change?
Anyway, if nothing works, let's go with postfix notation, since that's what's intended for our purpose. 2.1.1.post0 is easier to understand than 2.1.1.0

[2017-02-24 16:04] kirichoi commented on #13
Currently we support Python 2.7 and 3.6 for Windows 32 and 64 bit and Mac OSX 64 bit.

[2017-02-24 16:40] kirichoi opened #45 "Pip install directs to outdated wheel"
Older version are getting pulled when typing `pip install pysbol` because of numbering. Might need to actually remove versions with 2.1.1.1~3 which are treated as later version compared to our latest version 2.1.1.post0

[2017-02-24 16:47] #42 closed, assigned to kirichoi

[2017-02-25 00:18] bbartley commented on #45
Conflicting wheels have been removed

[2017-02-25 00:24] kirichoi commented on #45
Confirmed solved.

[2017-02-25 00:24] #45 closed, assigned to nobody

[2017-02-27 23:57] kirichoi opened #46 "Setup.py not installing test files on Windows"
This is also problem with wheels on PyPI. Need to update.

[2017-02-28 00:02] kirichoi commented on #46
Commit 763f118f947e3df91fe018a91fabcf69cec1edb5 fixes the issue. Still need to update PyPI.

[2017-02-28 00:04] kirichoi commented on #46
Probably need to bump the version to 2.1.1.post1. No need to update Mac OSX wheels I presume.

[2017-02-28 00:22] kirichoi commented on #46
Well, there is a need to bump the version number for Mac actually.
@bbartley: Can you mange this? Simply rebuilding wheel with version number 2.1.1.post1 will do. Sorry for inconvenience.

[2017-02-28 00:38] #46 closed, assigned to kirichoi

[2017-05-08 09:36] alihum opened #47 "Installing on BioLinux"
Hi,

I am trying to install pySBOL2 on BioLinux and I am using the instructions here: https://synbiodex.github.io/libSBOL/installation.html#build_from_source

I have installed all the dependencies and cloned the git

I have generated the cmake file and when I used make install I get the following error:

`ali@ali-biolinux[ali] cd pySBOL                                       [10:35AM]
ali@ali-bioli

[2017-05-08 16:18] kirichoi commented on #47
This seems like an issue on compiling C++ library which happens before compiling pySBOL.
I have moved the issue under https://github.com/SynBioDex/libSBOL/issues/151.

[2017-05-08 16:18] #47 closed, assigned to nobody

[2017-06-11 23:07] bbartley opened #48 "Add tests for iterators and memory management"
Experience has shown that these SWIG-Python extensions are the most likely thing to break in the SWIG interface.

[2017-06-11 23:15] bbartley opened #49 "Need example for iterating through a primary sequence of components"
Here is the C++ equivalent:
[code]

[2017-06-12 20:20] bbartley opened #50 "SynBioHub URLs should be https not http"
Some of the documentation examples still have SynBioHub urls with http://

[2017-06-12 21:15] bbartley opened #51 "Range.end property is inaccessible"
The `end` property of Ranges is inaccessible.  In the SWIG interface, end() methods are masked using %ignore directives.  An unintended consequence is masking the `end` property.

A workaround is:
end = range.start.get() + range.length.get()

[2017-07-03 16:45] cjmyers commented on #36
Done

[2017-07-03 16:45] #36 closed, assigned to nobody

[2017-07-03 20:55] #50 closed, assigned to kirichoi

[2017-07-03 21:19] kirichoi commented on #49
Could you provide a bit more information? Also, I don't think it returns vector in Python binaries.

[2017-07-10 17:33] kirichoi opened #52 "Refactor getAll() and getObjects() into a single method"
Method getAll() results in runtime error

[2017-07-10 18:15] bbartley commented on #52
The following test passes on OS X:
[code]
For properties where you expect an object, use getObjects():
[code]

It would be good if we could combine getAll() and getObjects() into a single method with the same name, but that would require some clever refactoring.

[2017-07-10 18:20] kirichoi commented on #52
I see. I will be renaming this issue then.

[2017-07-11 21:55] kirichoi opened #53 "assertItemsEqual() is Python 2.7 specific"
Check https://bugs.python.org/issue17866, https://docs.python.org/2/library/unittest.html#unittest.TestCase.assertItemsEqual, and https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertCountEqual

[2017-07-12 06:58] kirichoi commented on #53
Commit https://github.com/SynBioDex/libSBOL/commit/0362adcbae20cd41259542e6c8991ac77146cfd3 fixes the issue.

[2017-07-12 06:58] #53 closed, assigned to kirichoi

[2017-07-12 22:50] bbartley opened #54 "testSBOL() tries to write to protected directory"
Need to create a temporary directory to conduct round-trip tests.  Otherwise the Python interpreter will crash when running tests.

[2017-07-13 23:27] kirichoi commented on #54
Fixed in commit https://github.com/SynBioDex/libSBOL/commit/bada25f93c2d266718a5b40f4a7c25e3c8f9230c

[2017-07-13 23:27] #54 closed, assigned to kirichoi

[2017-07-13 23:41] kirichoi opened #55 "sequences.get() defaults to wrong URI"
Document.sequences.get(), when reading a file, should follow the files URI but fails to do so.

Line in question:
https://github.com/SynBioDex/libSBOL/blob/develop/wrapper/unit_tests.py#L635

Test file:
https://github.com/SynBioDex/libSBOL/blob/develop/wrapper/test/SBOL2/roundTrip.xml#L156-L162

sequences.get() looks for object `http://examples.org/Sequence/CRP_b_seq/1.0.0` instead.

[2017-07-13 23:48] kirichoi commented on #48
Simple memory test was implemented in commit https://github.com/SynBioDex/libSBOL/commit/5186f5fa9cff9434d2a4611a0bf47be311976dc3

[2017-08-06 20:28] bbartley opened #56 "Module version is inaccessible in Python 2.7 but seems to be OK in 3.6"
[code]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute '__version__'

[2017-08-07 13:58] kirichoi commented on #56
Hmm, seems to be working fine on my machine. Was it installed from PyPI? And which version are you testing?

[2017-08-07 14:04] kirichoi commented on #56
Also, if this issue is specific to Mac OSX, it could be due to incorrectly configured folder structure. Everything under https://github.com/SynBioDex/pySBOL/tree/master/Mac_64_2/sbol for example, must be installed under a folder name `sbol` in `site-packages` (or `dist-packages` in Mac) directory. That way, when `import sbol` is run in Python, it will look for the folder and initialize with `__ini

[2017-08-07 18:28] bbartley commented on #56
It's working now.  I must have had an old version hanging out on my machine.

[2017-08-07 18:28] #56 closed, assigned to nobody

[2017-08-11 18:32] JulesBobVerne opened #57 "Example gene_cassette from https://pysbol2.readthedocs.io/en/latest/sbol_examples.html"
Line 6 -> "gene_example" should be "gene"
Line 8 -> "cds" should be "CDS"

Line 23 -> "gene.assemble" function adds a "/0/" to the URI which results in invalid SBOL code

[2017-08-12 03:02] kirichoi commented on #57
Thanks for reporting errors. The first two errors are fixed. The last issue seems like a bug in the library which will take a bit more time to fix.

[2017-08-12 03:30] bbartley commented on #57
Fixed the last error on my machine.  Will push it soon.  It was actually pretty easy to fix

Sent from my iPhone

[2017-09-01 23:55] kirichoi opened #58 "Support conda"
Supporting conda should be relatively easy once we have all wheels ready.

[2017-09-04 06:03] kirichoi opened #59 "Add documentation for devs"

[2017-09-04 22:30] kirichoi commented on #59
Added wiki

[2017-09-04 22:30] #59 closed, assigned to kirichoi

[2017-09-05 18:01] kirichoi commented on #55
A workaround is to set correct homespace.

[2017-09-05 21:47] kirichoi commented on #55
get() does not accept displayId anymore. Any idea how this happened?

[2017-09-07 04:46] bbartley commented on #57
Fixed by https://github.com/SynBioDex/libSBOL/commit/5fe023e7330b8b30ad5c0b348a5968e2e451a9a0

[2017-09-07 04:46] #57 closed, assigned to nobody

[2017-09-07 04:47] bbartley commented on #55
Fixed by https://github.com/SynBioDex/libSBOL/commit/3cd40054dc743f78c2f35de9c2e847f2f1cfb392

[2017-09-07 04:47] #55 closed, assigned to nobody

[2017-09-11 01:26] #49 closed, assigned to kirichoi

[2017-09-11 01:35] kirichoi commented on #48
Iterator test was implemented in commit https://github.com/SynBioDex/libSBOL/commit/3d07957e8db946806a2b45fc611b454019b7233e

[2017-09-11 01:35] #48 closed, assigned to kirichoi

[2017-09-12 12:42] matthiaskoenig commented on #13
Hi all,
is it possible to also create the pip packages for linux and for py3.5?
Best
Matthias

[2017-09-12 17:48] kirichoi commented on #13
@matthiaskoenig: We are slowing working towards supporting linux. Building Linux pip distribution is surprisingly difficult, and we have to refactor some of our codes to make it happen.

[2017-09-13 09:29] matthiaskoenig commented on #13
@kirichoi no problem. This has low priority.
I am not working with SBOL right now, just wanted to get rid of the SBOL import warnings in tellurium for now.

[2017-11-01 22:48] bbartley opened #60 "Need online documentation for extension class"
See https://github.com/SynBioDex/libSBOL/issues/181

[2017-11-01 22:48] bbartley opened #61 "Need documentation for configuration options"
For example:

```Config.setOption('sbol_compliant_uris', False)```

[2017-11-02 03:14] eoberortner opened #62 "iterating over the types list of ComponentDefinition"
I'm following the "Iterating and Indexing List Properties" example to iterate over the types of a ComponentDefinition. Here's my code:
        doc = Document()

        gene = ComponentDefinition("gene_example")
        gene.types.set(SO_GENE)
        doc.addComponentDefinition(gene)

        ## iterate over the CDs in the document
        for cd in doc.componentDefinitions:

            print('--

[2017-11-02 06:33] bbartley commented on #62
There's an error in the documentation.  The proper syntax is as follows:
[code]

[2017-11-02 16:01] eoberortner commented on #62
I tried this solution too! However the following exception is thrown:
StopIteration

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/eoberortner/Projects/JGI/ORCA/coding/git/orca/tests/BuildSBOLTest.py", line 33, in test_create_CD_and_iterate_over_types
    for cd_type in cd.types:
  File "/Library/Frameworks/Python.framework/

[2017-11-02 20:08] bbartley commented on #62
This is a bug in pySBOL for 3.5 and 3.6. Iterators work in 2.7.   I think I see the problem.

Will post a new PyPI distribution tonight or tomorrow.

[2017-12-22 23:51] kirichoi opened #63 "Update documentation to add instruction on updating pySBOL through pip"

[2017-12-22 23:52] hsauro opened #64 "Make API easier and more obvious to use, avoid get() and set() methods"
Currently the way to access fields such as description is via get() and set() methods. eg

print description.get()

description.set ("Hello")

This is due to the C++ idioms leaking into the python API. A better and more obiovious syntax for such fields would be:

print description

description = "Hello"

This should be implemented in all cases where get and set can be replaced.

[2017-12-29 23:28] #63 closed, assigned to kirichoi

[2018-01-06 00:06] kirichoi commented on #13
For the record, I think manylinux1 distributions for Linux is now ready. Next release will include support for Linux systems through pip.

[2018-01-29 22:29] nroehner opened #65 "Write Crashes When Adding Custom Objects to Document via For Loop"
If I have a custom class that inherits from TopLevel, say

class ExperimentalData(TopLevel):

    def __init__(self, displayId, attachments=None, version='1.0.0'):
        TopLevel.__init__(self, 'http://sd2e.org#ExperimentalData', displayId, version)
        self.register_extension_class(ExperimentalData, 'sd2')

and I create objects that inherit from this custom class and add them to the Documen

[2018-01-29 22:39] nroehner opened #66 "Calling getModuleDefinition Finds ComponentDefinition with Target URI"
Calling doc.getModuleDefinition() finds a ComponentDefinition with the target URI. It should probably fail instead or give a warning. For example,

doc = Document()

doc.componentDefinitions.create('ghost')

print(doc.getModuleDefinition('http://examples.org/ComponentDefinition/ghost/1.0.0').identity.get())

[2018-01-29 22:45] nroehner opened #67 "Calling Document.getTopLevel() and Finding Nothing Causes Crash During Subsequent Write"
Calling the getToplevel() method with a URI that doesn't exist in the Document causes a subsequent call of the write method to crash the program. For example,

doc = Document()

doc.componentDefinitions.create('ghost')

doc.getTopLevel('http://examples.org/ComponentDefinition/ghast/1.0.0')

doc.write(os.path.join(os.getcwd(), 'test.xml'))

[2018-01-29 22:52] nroehner opened #68 "Calling .activities.get() with a Blank URI Returns the 0-th Element Instead of Failing"
Calling the .activities.get() on a Document with a blank URI as the target returns the 0-th element instead of failing. For example,

doc = Document()

doc.activities.create('haunt')

print(doc.activities.get('').identity.get())

[2018-01-29 23:04] nroehner opened #69 "Calling .getAll() on wasInformedBy Property of a New Activity Returns a Non-Empty List"
Calling the getAll() method on the wasInformedBy property of a newly create Activity return a non-empty list that contains a blank URI. For example,

doc = Document()

act = doc.activities.create('haunt')

for uri in act.wasInformedBy.getAll():
    print(uri)
    print('boo')

[2018-02-02 04:19] kirichoi opened #70 "Double check and update the document"
Check and update the document if necessary

[2018-02-19 16:31] tramyn opened #71 "Test pySBOL Fail"
I am getting this fail error when running sbol.testSBOL() to test pySBOL

testRemoveComponentDefinition (sbol.unit_tests.TestComponentDefinitions) ... Python(33630,0x7fffab5a8340) malloc: *** error for object 0x119b52388: pointer being freed was not allocated

[2018-02-19 19:51] bbartley commented on #71
Hi @tramyn

This was fixed in libsbol 6488303062d24d9f34833e2b4b877d7e8b5702c6.  The pip distributions have been updated to include this fix. Please run:

pip install pysbol --user --upgrade

[2018-02-19 20:07] tramyn commented on #71
Hi @bbartley,

I've updated to the new version and ran the test cases again with the same error occurring at the same line of test case. I looked at other test cases that were ran and it looks like we have other rdf files that are failing as well.

Here is a portion of the testing report that are failing:

test_case66 (sbol.unit_tests.TestRoundTripSBOL2) ... pIKE_pTAK_toggle_switches_orig.rdf
Valu

[2018-02-19 20:16] kirichoi commented on #71
Hi, those test files are expected to fail and thus ignored in the testing script. As far as I know, the version up on pypi should take this into account. Could you try uninstalling pySBOL (pip uninstall pysbol), remove all sbol folder under site-packages, and re-install the pySBOL?

[2018-02-19 20:31] tramyn commented on #71
Uninstalling and reinstalling pySBOL fixed the issue. Thanks @kirichoi!

[2018-02-19 20:31] #71 closed, assigned to nobody

[2018-03-07 15:55] tcmitchell opened #72 "Ubuntu pySBOL"
We have a need for Ubuntu 16 versions of pySBOL. There seems to have been an explicit decision to not build wheels/installers for Linux. Can you say more about that? Lack of demand? Hard to do? Lack of resources?

In the interim I've been manually building wheels and installing the libsbol.so library. I'd like to make my builds sync with your `post10`, `post11`, etc. How do I know which libSBOL ta

[2018-03-07 22:15] kirichoi commented on #72
We will be pushing out pySBOL wheels for Linux soon. Linux wheels are built on manylinux containers, where the devs have been using CentOS5 to ensure maximum compatibility. It was causing a lot of issues because CentOS5 is so old and comes with gcc that does not support some of the features we need. However, now we are pretty much ready to distribute the Linux wheels. I just have been testing few

[2018-05-15 18:18] jakebeal opened #73 "Support import/conversion from GFF"
GFF is a commonly used format that is similar to GenBank but also supports hierarchical notation.

Currently, GFF files can be converted into SBOL by down-converting to GenBank (which loses information), and then converting the GenBank to SBOL.

It would be better to be able to convert directly from GFF to SBOL, so that we don't lose information.

[2018-06-21 16:00] nroehner opened #74 "Writing Large Files is Unusually Inefficient"
Writing an SBOL file of 9 MB in size appears to be unusually inefficient compared to performance by other libraries such as libSBOLj.

[2018-08-01 02:24] cjmyers opened #75 "Should not change namespaces of copied/imported objects"
When copying into a document OR importing objects from a SBH instance, the default behavior should leave the namespace alone and not modify the objects at all.  There can be though alternative options to indicate that the elements should be migrated into a given namespace.

[2018-08-01 04:32] cjmyers opened #76 "Do not include types in the URIs"
Types should not be included in the URIs.  This does not play well with SynBioHub and will result in cumbersome displayIds.

[2018-08-01 06:23] nroehner commented on #76
There is a config option 'typed-uris' that one can set to false, but
perhaps it shouldn't be true by default.

On Tue, Jul 31, 2018, 9:32 PM cjmyers <notifications@github.com> wrote:

[2018-08-01 06:23] nroehner commented on #76
Correction, 'typed_uris'

On Tue, Jul 31, 2018, 11:22 PM Nicholas Roehner <nicholasroehner@gmail.com>
wrote:

[2018-08-03 08:36] mehersam opened #77 "Activity displayId field is modified"
Agent_act_assoc.xml
Provenance_CodonOptimization.xml
Provenance_SpecifyCutOperation_Ag_Act_CD.xml
Provenance_SpecifyCutOperation_*.xml
Was-generated-bys.xml

The displayId field has an extra "_activity"

[2018-08-05 17:18] mehersam opened #78 "CD ‘information’ nested annotations dropped"
Annotation_Output.xml
[AnnotationOutput_file_comparisonErrors.txt](https://github.com/SynBioDex/pySBOL/files/2260518/AnnotationOutput_file_comparisonErrors.txt)

[2018-08-05 17:20] mehersam opened #79 "Attachment Source URI changed to full URI"
[attachment_ann_file_comparisonErrors.txt](https://github.com/SynBioDex/pySBOL/files/2260520/attachment_ann_file_comparisonErrors.txt)
[attachment_pointers_file_comparisonErrors.txt](https://github.com/SynBioDex/pySBOL/files/2260522/attachment_pointers_file_comparisonErrors.txt)
[god_example_file_comparisonErrors.txt](https://github.com/SynBioDex/pySBOL/files/2260524/god_example_file_comparisonErr

[2018-08-05 17:21] mehersam opened #80 "Attachment annotations dropped e.g time create"
[simple_attachment_ref_file_comparisonErrors.txt](https://github.com/SynBioDex/pySBOL/files/2260527/simple_attachment_ref_file_comparisonErrors.txt)
[simple_attachment_plan_ann_file_comparisonErrors.txt](https://github.com/SynBioDex/pySBOL/files/2260528/simple_attachment_plan_ann_file_comparisonErrors.txt)

[2018-08-05 17:22] mehersam opened #81 "VariableComponent version was inserted"
[eukaryotic_promoters_enumerated_file_comparisonErrors.txt](https://github.com/SynBioDex/pySBOL/files/2260529/eukaryotic_promoters_enumerated_file_comparisonErrors.txt)
[eukaryotic_promoters_file_comparisonErrors.txt](https://github.com/SynBioDex/pySBOL/files/2260530/eukaryotic_promoters_file_comparisonErrors.txt)
[gfp_reporter_template_enumerated_file_comparisonErrors.txt](https://github.com/SynB

[2018-08-05 17:23] mehersam opened #82 "GTL annotations are dropped and version is added"
[god_example_file_comparisonErrors.txt](https://github.com/SynBioDex/pySBOL/files/2260534/god_example_file_comparisonErrors.txt)

[2018-08-05 17:24] mehersam opened #83 "Model source URI changed"
Model source URI changed to full URI      <sbol:source   rdf:resource="someModel_source"/>
--

[memberAnnotations_file_comparisonErrors.txt](https://github.com/SynBioDex/pySBOL/files/2260535/memberAnnotations_file_comparisonErrors.txt)
[singleModel_file_comparisonErrors.txt](https://github.com/SynBioDex/pySBOL/files/2260536/singleModel_file_comparisonErrors.txt)

[2018-08-05 17:31] mehersam opened #84 "Activity hadPlan field is dropped"
same files failing as attached in #77

[2018-08-25 19:33] #62 closed, assigned to nobody

[2018-08-25 19:34] #64 closed, assigned to bbartley, kirichoi

[2018-08-25 19:34] #65 closed, assigned to nobody

[2018-08-25 19:34] #68 closed, assigned to nobody

[2018-08-25 19:35] #69 closed, assigned to nobody

[2018-09-28 15:24] dsumorok-raytheon commented on #77
This was fixed in libSBOL by ea1bc89138e94e7cee913bad74ff8bb2f511d358.

[2018-09-28 15:24] #77 closed, assigned to nobody

[2018-09-28 15:24] dsumorok-raytheon commented on #84
this was fixed in libSBOL by ea1bc89138e94e7cee913bad74ff8bb2f511d358.

[2018-09-28 15:24] #84 closed, assigned to nobody

[2018-09-28 15:26] dsumorok-raytheon commented on #83
URIs that do not contain a scheme automatically have a scheme added to them by the raptor2 library, which is used by libSBOL to parse the sbol files.

[2018-09-28 17:38] dsumorok-raytheon commented on #82
"http://www.virtualparts.org/part/GFP_Reporter_Template_CombinatorialDerivation_Sample/Pro_Component_VariableComponent/1" was not properly nested.  This was addressed in libSBOL by 95cde9dea7c08be7f299c61579401a9298948227.

[2018-09-28 17:39] dsumorok-raytheon commented on #82
A URI was missing a scheme in the source file.  The raptor2 library, used by libSBOL, added a scheme to the URI.

[2018-09-28 18:26] dsumorok-raytheon commented on #81
These errors were fixed in libSBOL by 95cde9dea7c08be7f299c61579401a9298948227.

[2018-09-28 18:26] #81 closed, assigned to nobody

[2018-09-28 19:03] dsumorok-raytheon commented on #80
These files have URIs without schemes.  The raptor2 library, used by libSBOL, add schemes to the URIs.

[2018-09-28 19:04] dsumorok-raytheon commented on #79
The raptor2 library, used by libSBOL, adds schemes to the URIs.

[2018-09-28 19:08] dsumorok-raytheon commented on #78
This was fixed in the sbol library by 95cde9dea7c08be7f299c61579401a9298948227

[2018-09-28 19:08] #78 closed, assigned to nobody

[2018-11-09 21:24] jakebeal opened #85 "python 3.7 support"
There is no wheel for installing pySBOL with python 3.7 on Mac, at least.

[2019-01-23 17:23] jakebeal opened #86 "SBOL 2.3 compatibility"
We need to make sure that the recently approved SBOL 2.3 SEPs are well supported by pySBOL. What is the current status?

[2019-02-27 16:48] bbartley opened #87 "Enable search on private graphs"
Currently a user can only search public collections, because the search method does not pass authentication headers

[2019-03-15 12:39] dissys opened #88 "Incomplete RDF is produced when using Python3"
The PySBOL library does not seem to generate full RDF/XML. I am not sure if it is me or something needs to be configured.

I have installed PySBOL manully using these steps
- git clone https://github.com/SynBioDex/pysbol.git
- cd pysbol
- python3 setup.py install

I then run the full example code at https://pysbol2.readthedocs.io/en/latest/sbol_examples.html#id1.

The resulting gene_cassette.xml i

[2019-05-02 17:30] nroehner opened #89 "Copy Methods Do Not Update Versions of Component Properties for Sequence Annotations"
When copying a ComponentDefinition that has a SequenceAnnotation with a component property, the component property is imported from one namespace to another if that parameter is specified, but the version is not updated.

Example code:

[code]

[2019-05-02 17:47] nroehner opened #90 "Need Copy/Import Method that Does Not Require Namespace Parameter"
Currently, if one wants to make a copy of an object and have it be identified in accordance with their current home namespace (homespace), then they have to pass in the namespace of the object that they are copying. While this enables developers to selectively copy some objects into the current homespace while keeping other copies in their current namespace, it also requires that developers use a

[2019-05-03 00:55] bbartley commented on #90
@nroehner Can you provide an example Document with objects you are trying to import, or some examples of the non-compliant URIs that you are trying to import into a compliant URI?

[2019-05-19 12:28] jurquiza opened #91 "error when printing obj in example documentation"
when running

for obj in doc:
    print(obj)

StopIterationTraceback (most recent call last)
<ipython-input-13-eec382346978> in <module>()
      1 for obj in doc:
----> 2     print(obj)

StopIteration:

[2019-05-25 22:16] jurquiza opened #92 "URLs Partshop submission SBOL type added to the part ID"
I wonder why it was decided to have the pattern for URLs described in the documentation? this is a bit problematic because then ComponentDefinition they displaying is not nice. Don't understand why the type of SBOL is added?

Sorry I still figuring out how URL are working in pySBOL ignore this

[2019-05-27 17:53] jurquiza opened #93 "get an error when using partShop submit"
##when running i don't get the documented behaviour

shop.submit(doc, overwrite=1)

TypeError: submit() got an unexpected keyword argument 'overwrite'

[2019-05-30 16:50] bbartley commented on #93
@jurquiza There is no keyword argument.  Use the syntax:

shop.submit(doc, target_collection_uri, 1)

[2019-05-30 16:52] bbartley commented on #92
@jurquiza You can disable typed URIs.  See below.
[code]
Typed URIs simplify use and readability of code using the pySBOL API.  For example, with typed URIs enabled, I can re-use the same ID (e.g., 'lacI') for different types of objects:
[code]
However, with typed URIs disabled, this results in the following URI collision error:
[code]
In this case the way users work around this problem in order t

[2019-06-04 20:44] bchan opened #94 "Error when running SBOL unit tests"
With Python 3.7.3, this unit test fails: testPrimarySequenceIteration (sbol.unit_tests.TestComponentDefinitions). Is there an issue with the installation or something else?

[2019-06-05 02:05] bbartley commented on #94
@bchan1298 can you post the full output of the tests?  how did you install the package and what OS are you using?  Also, if you run the following at the commandline it will tell me more about the particular package version you have installed:
[code]
Thanks

[2019-06-05 14:48] bchan commented on #94
There were 113 test cases before these that were ok, but the tests at the end caused an error. Here is the output at the end:
[code]
I installed the package with pip on a Mac. Here is the output showing the package version:
[code]
Thanks!

[2019-06-05 15:33] bbartley commented on #94
Thanks @bchan1298!  I think this wheel was generated from a development snapshot, hence the bug.

Depending on your applications, this bug is not critical and you should be able to use other features of the library.  However, if you think it is critical for your applications, then I can attempt to deploy an updated wheel with a hotfix.

[2019-06-05 21:39] bchan commented on #94
I don't believe it is critical, so it should be okay for our applications.

Thanks!

[2019-06-06 22:09] bchan opened #95 "GenBank to SBOL"
I am trying to convert GenBank files to SBOL, but I cannot find anything on the documentation. Is there a way to do this with the library?

[2019-06-06 22:22] cjmyers commented on #95
The GenBank to SBOL conversion is done using the Java library libSBOLj.  You can also do this using the SBOLValidator/Converter’s REST API described here:

http://synbiodex.github.io/SBOL-Validator/ <http://synbiodex.github.io/SBOL-Validator/>

I’m not sure if pySBOL has a wrapped interface to this API or not.  Bryan Bartley can likely comment on that.

[2019-06-07 15:56] bbartley commented on #95
The head of the develop branch has methods to call the converter API.  Unfortunately, I don't think the package that Ben is using supports it though.

@bchan1298 if you need to convert a small number of files, then the webtool that @cjmyers mentioned should serve your purposes.  If, however, you want to process a large batch of files, or incorporate conversion into an automated pipeline, you will

[2019-06-07 20:36] bchan commented on #95
Makes sense. The webtool should be good for my purposes as I am not converting a large batch of files. Thanks for the help!

[2019-06-09 00:51] eoberortner opened #96 "Python quit unexpectedly"
Hi, I'm experiencing an interesting issue when using pysbol 2.3.0.
I really don't know what's going on, but it seems that there's something wrong in the destructor of the Document based on my system. Any information how to resolve this issue would be great! Thanks!

Process:               Python [81533]
Path:                  /Library/Frameworks/Python.framework/Versions/3.7/Resources/Python.app/C

[2019-06-09 01:01] bbartley commented on #96
Hi @eoberortner

Do you have a minimal test case that reproduces the problem?

Some other diagnostics that might help me figure out the problem:
[code]
and
[code]
If you are using an older wheel, then the simplest fix might be just to upgrade:
[code]

[2019-06-09 01:16] eoberortner commented on #96
It’s hard to pull out the code to give you some examples to reproduce the issue.

Here’s the requested intormation:

‘15128fedd6f6f7e8189e7ffdf61910b276e7e765'

$ /usr/local/bin/python3.7 -m pip install pysbol --upgrade
Requirement already up-to-date: pysbol in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pySBOL-2.3.0.post19-py3.7.egg (2.3.0.post19)

I’ll continue

[2019-06-09 01:46] bbartley commented on #96
Most likely there is a null pointer exception occurring at some point during Document destruction.  Does the fault occur in the middle of your script or at the end?  Are you creating multiple Document objects in the same script?  If so, one workaround you might try is re-using the same Document object and calling `doc.clear()` to wipe it before re-using it.  Also adding the same object to more tha

[2019-06-09 01:56] eoberortner commented on #96
after the python script terminates it takes about 2-3sec that the window “Python quit unexpectedly” appears.

I am indeed using two documents. One document is a subset of the other document.
I.e., I’m querying the imported document for specific ComponentDefinitions and place the matching ones into a new document.
I’ll try using your approach of removing ComponentDefinitions that don’t match the qu

[2019-06-09 02:44] bbartley commented on #96
There's been a lot of updates to the C++ source since your wheel was generated.  It is the most up to date for Python 3.7 but it's based on source that is a year old.

[2019-06-09 15:49] eoberortner commented on #96
OK, it seems like having two (or more) Document objects causes the “Python quit unexpectedly” problem.

Using Python3.7, I’m removing now elements from the document. This works well. However, I’d like to merge them two documents.

Example:
1. from the original document, remove all elements that do not confirm some criteria
2. send the filtered document to tool X
3. retrieve updated document from t

[2019-06-09 16:44] bbartley commented on #96
There's a few ways you can merge documents:
[code]
If you don't want to write the intermediate SBOL file, you can also do this, which should merge the Documents:
[code]
A third, more surgical way, is to copy objects over to a new document one at a time
[code]
I don't know if this helps, though, if having multiple Documents causes a seg fault...

Most likely the cause of the crash is not the Docume

[2019-06-09 17:08] bbartley commented on #96
Also the following anti-pattern will probably cause a crash:
[code]
Because the cd object will try to get deleted twice when both Documents are garbage collected

[2019-06-09 20:26] eoberortner commented on #96
thanks for the hints on merging Documents! I’ll check them out and see if they work for me.

Luckily we were able to figure out the issue:
    from sbol import Document, ComponentDefinition
    cd = ComponentDefinition('cd')
    doc1 = Document()
    doc1.addComponentDefinition(cd)
    doc2 = Document()
    doc2.addComponentDefinition(cd)
    sys.exit(0)

Can you reproduce this behavior at your en

[2019-06-09 21:31] bbartley commented on #96
Yes, this is similar problem noted in the previous post.  When `doc1` destructor is called, it traverses the document tree and frees `cd` as well. Then when `doc2` destructor is called, it also tries to free `cd` and faults.  There should be safeguards to prevent this.

In the meantime, as a best practice, you should use the `copy` method when moving an object from one Document to another.  This c

[2019-06-11 13:30] eoberortner opened #97 "Activity usages"
Hi, how do you set the qualifiedUsages of an Activity properly?

The following piece of code does not serialize the usages of the Activity:
[code]

And here's the generated serialized document that I get:
[code]

My other question is creating your own list and assigning it to an SBOL object's property (1) vs. using python's functions (.append(), .extend(),...) for adding objects to a list (2)?
Her

[2019-06-11 14:21] bbartley commented on #97
Hi, one thing to keep in mind is that Activity.usages expects a Usage object, not a URI reference.  So, something like this:
[code]
In general when modifying properties that can contain multiple values, you have to use the following idiom:
[code]
It's doesn't behave exactly like a pythonic list, because it's actually a wrapped C++ data structure.  So, avoid using `append` and `extend` methods.

[2019-06-11 17:39] eoberortner commented on #97
Thanks Bryan for pointing out that there’s a Usage object needed and to avoid python list operations!
It’ll still take some time for me to understand the python SBOL library.

Thanks,
Ernst

[2019-06-13 21:23] jakebeal opened #98 "Support for measures"
We need the Measure objects of SEP 28 to be supported in pySBOL.

[2019-06-13 21:24] cjmyers commented on #98
+1 and also have testing running with latest SBOLTestSuite on travis to make sure pySBOL is SBOL 2.3 compliant.

[2019-06-17 20:41] jakebeal opened #99 "What is release 2.3.1?"
If one pulls the most recent copy of pySBOL from library installs (e.g., https://pypi.org/project/pySBOL/), you get 2.3.1.  However, that release number isn't marked on this repository. What is 2.3.1?

[2019-06-18 16:37] dashaveraksa opened #100 "setAnnotation works only in some versions"
I am trying to add annotations to FunctionalComponents and I am able to do so in pySBOL version 2.3.0.post10 but when I try to do it in 2.3.0.post20 or 2.3.1.post0 I get a LookupError. Here is the code I am using:
`valueURI = temp.identity + '#hasNumericalValue'`
`temp.setAnnotation(valueURI,stringval)`

where 'temp' is my FunctionalComponent and 'stringval' is the string version of the value I am

[2019-06-19 10:39] jakebeal opened #101 "pySBOL adds trailing slash with no version"
When there is no version, pySBOL still adds a slash in front of the non-existent version. This means the URI has a trailing slash, which is not valid for compliant URIs.

[2019-06-20 21:38] bbartley commented on #100
@dashaveraksa it looks like this probably got broken in the course of something else getting fixed.  In any case, a different, but actually better way to add annotations is like this:
[code]
(There is also an IntProperty)

There are all kinds of fancy tricks you can play with Property objects, such as define a new subclass of FunctionalComponent that behaves like the base class, but with new exten

[2019-06-21 15:42] dashaveraksa commented on #100
@bbartley
Thank you for responding! However, I tried to use FloatProperty in the same way you have shown and although there were no errors, the values I added to each FunctionalComponenent did not appear in the XML file and by extension in SynBioHub when I uploaded the file.

Also, I want to create a lot of annotations/properties with the same name, but for different FunctionalComponents--since th

[2019-06-21 17:19] bbartley commented on #100
Following is a more comprehensive example...

A couple of things to keep in mind.  If you don't set a value to the property first, it won't show up in the serialization.  Note in the code below that I set the property value to 10.  If it isn't set, then you won't see the property in the XML.

Secondly, the second argument in the FloatProperty constructor is not a URI reference to the object you ar

[2019-06-21 17:33] jakebeal commented on #100
BTW, @bbartley : a key goal of these annotations is to add Measure information. Do you have a recommended example of doing that with pySBOL?

[2019-06-21 17:34] cjmyers commented on #100
Is Measure even supported yet in pySBOL?

[2019-06-21 18:03] bbartley commented on #100
It's implemented in the source code but I haven't yet generated any precompiled packages for distribution.

[2019-06-21 18:52] dashaveraksa commented on #100
Thank you for explaining the RDF identity, I get it now.

As for the annotations issue, I think I have figured out what the problem is--I was using 2.3.0.post10, where setAnnotations works but running the exact example you showed above does not put the annotation in the XML file, at least on my computer. I tried it on 2.3.1.post0 and it appeared just as your example above. I then tried it on 2.3.0

[2019-07-15 15:17] dashaveraksa opened #103 "How do I delete specific objects from a Document?"
I am trying to delete a ComponentDefinition (that had previously been added to the Document) from a Document, and have tried
[code]
which is what I have been able to find in the documentation. (componentURI is a string representing the URI of the ComponentDefinition in this case). However, I am getting an AttributeError, which says that 'Document' object has no attribute 'close'.
I have also tried

[2019-07-15 15:30] bbartley commented on #103
`remove(<uri>)` method is the right one to use here.  In the following example, an object is removed from the `Document`, and a reference to the object is returned to the user...

`clear()` will work also, but it will delete *all* objects in the store, and no reference to the objects will be retained
[code]

[2019-07-15 16:31] dashaveraksa commented on #103
Thank you for the quick reply, this was very helpful.

[2019-07-15 16:31] #103 closed, assigned to nobody

[2019-08-27 20:18] nroehner opened #104 "downloadAttachment Method of PartShop Downloads non-UTF-8 Encoded File"
When calling the downloadAttachment method of the PartShop class to download a GFF attachment from SynBioHub, the result is a file that is much smaller than the original and does not appear to UTF-8 encoded.

The following code is an example of trying to download a GFF attachment for the SD2 instance of SynBioHub as described above.

[code]

[2019-10-18 19:10] jakebeal opened #105 "Autoconfigure certificate authorty path"
@bbartley has a fix for certificate authority path problems:

Can we have the library attempt to autoconfigure by checking the OS that it is running on?

[2019-10-25 15:15] bbartley opened #106 "Assemble sequences with multiple locations"
We can represent an insertion into a genome by giving two Location objects to describe where the old genome goes in the new genome.  i.e., if we are putting in 2 kilobases starting at location 1001 in a length 10,000 genome, the Location assigned by a SequenceAnnotation to the Component would be Location is 1-1000 and Location is 3001-12000.

Right now, however, pySBOL will not stitch together the

[2019-10-28 01:25] cjmyers opened #107 "Unable to submit large files to SynBioHub"
The following error occurs when submitting a file larger than 2MB to SynBioHub:

HTTP post request failed with: {"message":"maxFieldsSize 2097152 exceeded","level":"error"}

[2019-10-28 15:17] bbartley opened #108 "Implement `insert` method"
This is to have a higher-level method for generating patterns like in #106.

[2019-10-28 18:14] rpgoldman opened #109 "Enhancement request: Interned objects for python identity"
It seems that a pySBOL `Document` object can have non-identical objects that correspond to the same URI.  I.e., `foo != bar` but `foo.identity == bar.identity`.  This seems bound to lead to bugs in  future code written in pySBOL.

I believe that a solution could be crafted by having a persistent interface the source of the SBOL document, and ensuring that pySBOL objects are treated as interned obj

[2019-10-28 18:18] rpgoldman opened #110 "Enhancement request: Support for known cardinality"
It seems that there are properties in SBOL that one may know to be singletons that are nevertheless internally represented as collections.  This leads to client code that relies on hard-coded `[0]` or `[-1]` references, which can be dangerously brittle.

The only defense the client programmer has against this issue is to remember to add assertions of the form `assert len(foo) == 1`, and even these

[2019-10-29 15:05] jakebeal opened #111 "Handle sourceLocation values to support deletions."
Issue #106 is about being able to split where something goes in a new genome using Location objects on a SequenceAnnotation.
This issue is the complement, about getting correct sequences from Location objects in the sourceLocation field of a Component.

For example, we should be able to pull a 2 kb insert construct out of a 5 kb plasmid by having a sourceLocation of e.g., 2001-4000.

Another examp

[2019-11-08 22:11] tcmitchell commented on #108
See https://github.com/SynBioDex/libSBOL/pull/216

[2019-11-08 22:11] tcmitchell commented on #106
See https://github.com/SynBioDex/libSBOL/pull/216

[2019-11-14 14:09] jakebeal commented on #51
Long ago fixed.

[2019-11-14 14:09] #51 closed, assigned to bbartley

[2019-11-14 14:10] jakebeal commented on #13
Long ago fixed.

[2019-11-14 14:10] #13 closed, assigned to bbartley, kirichoi

[2019-11-14 14:11] jakebeal commented on #98
Done some time ago.

[2019-11-14 14:11] #98 closed, assigned to nobody

[2019-11-14 14:13] #95 closed, assigned to nobody

[2019-11-14 14:13] #94 closed, assigned to nobody

[2019-11-14 23:33] breecummins opened #112 "pySBOL validation missing spaces and duplicate URIs"
I generated an SBOL file that had spaces in the URIs and some URIs that had a double prefix in front, i.e.
 http://identifiers.org/biomodels.sbo/SBO:http://identifiers.org/biomodels.sbo/SBO:http://identifiers.org/biomodels.sbo/SBO:0000168.

Can these two issues be caught at `doc.write()`?

[2019-11-19 12:44] jakebeal opened #113 "Travis-CI testing"
pySBOL doesn't appear to be doing any automated testing yet --- can you please set it up to run on travis-ci?

[2019-11-19 21:02] jakebeal commented on #113
Fixed by #114

[2019-11-19 21:02] #113 closed, assigned to jakebeal

[2019-11-25 15:59] #107 closed, assigned to bbartley

[2019-12-02 22:38] cjmyers opened #115 "Wrap GenBank, FASTA, GFF3 SynBioHub download options"
Add GenBank, FASTA, GFF3 SynBioHub download options.

[2019-12-06 02:18] bbartley commented on #108
Implemented in https://github.com/SynBioDex/libSBOL/pull/216

[2019-12-06 02:18] #108 closed, assigned to tcmitchell, bbartley

[2019-12-06 02:20] bbartley commented on #106
Postponed from 2.3.3 milestone until later.

[2019-12-06 02:23] bbartley commented on #111
ComponentDefinition.compile method can now sample subsequences of a subcomponent using SourceLocations, implemented in https://github.com/SynBioDex/libSBOL/pull/216/commits/23405c8b3040dc67c76a31cee0042ab66ac15555

[2019-12-06 02:23] #111 closed, assigned to bbartley

[2019-12-10 19:04] bertfordley commented on #115
This functionality, particularly for GFF3, would be extremely helpful. Would this be included in the next release?

[2020-01-08 15:07] bbartley opened #116 "Travis CI needs to run integration tests with SynBioHub"
Integration tests with synbiohub are implemented in the testing module.  However, these tests aren't run in Travis currently, because I don't know how to configure secret login credentials

[2020-01-14 21:24] bbartley commented on #105
4758ce0 appears to have resolved this, have confirmed on Ubuntu and CentOS at least.

[2020-01-14 21:25] bbartley commented on #85
pySBOL 2.3.3 wheels for Python 3.7 are currently available for Mac OS X and Linux

[2020-01-14 21:25] #85 closed, assigned to nobody

[2020-01-14 21:56] bbartley commented on #116
Implemented and passing in Travis SynBioDex/libSBOL@6c64c40fa2248e6f02a92c1e4fb1d550ad3f6bb5

[2020-01-14 21:57] #116 closed, assigned to nobody

[2020-01-14 22:04] bbartley commented on #115
Although it is not currently possible to download these alternative formats directly from Synbiohub, it is possible to call a converter tool.  See https://pysbol2.readthedocs.io/en/latest/getting_started.html#converting-to-and-from-other-sequence-formats

[2020-01-20 15:54] bbartley opened #117 "Need a PartShop integration test for nonrecursive download"

[2020-01-21 13:18] webermarcolivier commented on #95
I would like to implement conversion of Genbank from/to SBOL in an automatic pipeline that we are developing in python for a web application. Calling the web server API is not a good solution in our case. You mentioned that a python wrapper to the SBOL java converter is available, is that correct? I cannot find it in the documentation or in the source code.

[2020-01-22 14:23] bbartley commented on #105
Debian certificate path is incorrectly hardcoded

[2020-01-22 14:34] bbartley commented on #105
Nevermind, the Debian certificate path is correct.

[2020-01-22 14:34] #105 closed, assigned to nobody

[2020-02-04 15:27] webermarcolivier commented on #95
@bbartley Is there any chance to see the Genbank to SBOL converter wrapper implemented in pysbol soon? That would help a lot for one of our project and would be greatly appreciated. Thank you for all the work done to develop SBOL tools.

[2020-02-04 16:43] bbartley commented on #95
@webermarcolivier see https://pysbol2.readthedocs.io/en/latest/getting_started.html#converting-to-and-from-other-sequence-formats

[2020-02-05 13:55] 13anas commented on #95
@bbartley I've tried the online converter but seems not to work.

[2020-02-05 14:43] jakebeal commented on #95
Can you expand on the error that you are getting, because this is routine use for other people. Thus, it sounds like it's a more specific bug related to how you're using it, and it would be good to figure out whether the bug is in your code or ours and get it fixed in either case.

[2020-03-10 21:09] ifiddes opened #118 "JVM OOM when trying to parse GenBank file"
I wanted to test parsing of a standard E. coli GenBank file. I get an OOM error when I do so:

[code]

How can I give the JVM more memory?

[2020-03-12 12:34] dsanleo opened #119 "Editing a Primary Structure error"
I'm executing your example to edit a Primary Structure

[code]

but I got the following error:

AttributeError: 'ComponentDefinition' object has no attribute 'deleteUpstreamComponent'

I was looking for the function definition inside the API documentation but it is not there. How can I replace a component inside a primary structure?

[2020-03-12 14:40] bbartley commented on #119
@dsanleo are you using the most recent version of pySBOL?
[code]
You can see what version you are running:
[code]

[2020-03-12 14:48] bbartley commented on #118
@ifiddes it seems like this error might be coming from the external conversion service located at https://validator.sbolstandard.org/.  (PySBOL calls this external service to perform the conversion.) What happens when you submit your job through using the web interface?  Can you reproduce the same error?

It could also be that your GenBank file has some idiosyncrasies that the converter does not l

[2020-03-12 15:14] dsanleo commented on #119
I'm running the version 2.3.2.post4, the last version I found for windows 64bits. I didn´t use the Linux version yet.  If I use the Linux version 2.3.3, does this error disappear?

[2020-03-12 21:24] bbartley commented on #119
I expect that the problem will disappear if you use Linux 2.3.3.  Also I will attempt to release updated 2.3.3 binaries for Windows over the next few days.  I don't usually have a Windows machine convenient, but it just so happens that I have a loaner laptop that I can use presently.

[2020-03-13 00:02] rpgoldman opened #120 "Typo in FunctionalComponent docstring"
The docstring for `FunctionalComponent` seems to have been garbled, to the point where I'm not sure I  understand what it is trying to say:

[code]

My guess is that should be "The ModuleDefinition describes how the FunctionalComponent interacts with others and summarizes their aggregate function."  Possibly also expand "their aggregate function" to "the aggregate function of the contained Functio

[2020-03-13 07:52] dsanleo commented on #119
I just run he Linux 2.3.3 version and it works. For now I will use the linux version.
Thank you very much.

[2020-03-13 17:14] rpgoldman opened #121 "pySBOL Interaction does not support advertised argument"
I tried to construct an `Interaction` using the documented API, and got this error:

[code]

I tried a few modifications, treating the URI (`identity`) and `types` as positional, instead of keyword, but no dice.

[2020-03-13 17:48] tcmitchell commented on #121
I think [the documentation](https://pysbol2.readthedocs.io/en/latest/API.html#sbol.libsbol.Interaction) is misleading. All of the bullets under what appears to be the constructor are really the attributes of the class, not the arguments to a constructor.

Try something like this:

[code]

Note that I used `sbol.SBO_STIMULATION` instead of the raw URI. This avoids typos, and makes the intent cleare

[2020-03-13 18:06] rpgoldman commented on #121
Thanks, @tcmitchell -- that's just what I needed.

Note that at least in the numpy style, it's considered ok to add docs for the initialization method to the class doc string.  So just adding a `Parameters` section to that doc string would really help.

It seems odd that we need to pass `sbol.SBOL_INTERACTION` to the constructor for `Interaction` -- shouldn't it know that it's an interaction?

Any

[2020-03-13 18:21] tcmitchell commented on #121
I agree. But the documentation that I think you're reading (https://pysbol2.readthedocs.io/en/latest/API.html#sbol.libsbol.Interaction) is derived from C++ code, not from Python docstrings. So it's not quite so simple with the pySBOL library. As the pure python version reaches maturity, we hope things like this are a little easier.

I agree. I have a slightly different case with the `Implementatio

[2020-03-13 18:49] rpgoldman commented on #121
In order to get me unstuck, would it be possible to assemble a cheat sheet of initialization args? If it helps, I'm only concerned right now with adding enough extra stuff to add a stimulation relationship between a chemical and a gene. So I note that would require only a few entries for the cheat sheet for now. Thanks!

[2020-03-13 18:56] tcmitchell commented on #121
I'd be happy to give that a try. I'm just source diving in the C++ and then experimenting in a Python interpreter. Your explanation does not give me enough info to work from. I do not possess biological knowledge. If you pass along class names that you're having trouble with, I can give it a try.

[2020-03-13 19:02] rpgoldman commented on #121
Well, *that* will be the blind leading the one-eyed! 😉

Seriously, I *think* what I need is to make a Participation.  I believe the participations are all nested inside the Interaction.

Inside the Participation, I need to put a FunctionalComponent.  I think (hope) these three are enough to do the job for me.

[2020-03-13 20:58] tcmitchell commented on #121
Here is the relevant bit of the [C++ Participant](https://github.com/SynBioDex/libSBOL/blob/master/source/participation.h#L45) class:

[code]

And here's the relevant bit of [C++ for FunctionalComponent](https://github.com/SynBioDex/libSBOL/blob/master/source/component.h#L143):

[code]

I think your best bet is to create both with a shortened URI as in my Interaction example above,
and then set va

[2020-03-13 21:02] tcmitchell commented on #121
Here's some quick Python to demonstrate that the constructor args are all optional:

[code]

[2020-03-16 01:19] rpgoldman commented on #121
Follow-up question -- I see that I need to add these entities to the `Document` object: they don't get added automatically.

That is straightforward for my new `ModuleDefinition`, which I add with `Document.addModuleDefinition` per the docs: " if the user wishes to write out a file with all the information contained in their object, they must first add it to the Document. This is done using add me

[2020-03-16 18:17] bbartley commented on #121
Hi @rpgoldman,

Note that `Participation` is not `TopLevel`:
[code]
You don't add a `Participation`  to a `Document` directly...you add it to a parent `Interaction`.  There are two alternative ways to do this:
[code]
or:
[code]
Hope that helps!

[2020-03-16 18:35] rpgoldman commented on #121
@bbartley Sorry: one more -- do I need to add the parent `Interaction`?  And if so, how is this to be done?  Presumably since it's not top level, either, `Interaction` also does not need to be added?  That does not seem to work for me.  In my code snippet (see Slack, since this isn't my data to post to GitHub), I create the interaction, and add it to the `ModuleDefinition`, but it does not appear

[2020-03-16 18:55] bbartley commented on #121
Use:
[code]

[2020-03-16 18:58] rpgoldman commented on #121
@bbartley I did this:
[code]
Do you think that's the problem?  And, if so, maybe pySBOL should make it an error if someone tries to set the interactions in this way.

[2020-03-18 16:48] dsanleo opened #122 "SSL CA cert error"
With the last version in linux (2.3.3) I have an error when I try to search in https://synbiohub.org/
For example with the following code extracted from your examples:
[code]
I have this error
[code]
Do you know why it is happening?

[2020-03-21 14:35] tcmitchell commented on #122
Hi @dsanleo,

Depending on the exact version of pySBOL, you [may have to upgrade](https://github.com/SynBioDex/libSBOL/issues/202#issuecomment-574720552). You may also have to [set a config option](https://github.com/SynBioDex/libSBOL/issues/202#issuecomment-539686961).

If you're already running `pysbol-2.3.3.post6` please post what Linux distribution and version you are running, as well as the s

[2020-03-23 07:54] dsanleo commented on #122
Hi @tcmitchell ,
I downloaded the last version, 2.3.3.post7 and I'm running into a Ubuntu 18.04 machine, about the python version I'm using the 3.7.5 version (I checked it with python 3.6 and 2.3.3.post6 too).
I read before the conversations you send me, but I have the same error after using Config.setOption('ca-path','/etc/ssl/certs/ca-certificates.crt')

[2020-03-23 12:55] tcmitchell commented on #122
I can repeat this problem in a fresh Ubuntu 18.04 docker image with pySBOL 2.3.3.post7:

[code]

I have confirmed that the root certificate for https://synbiohub.org, "DST Root CA X3", is in /etc/ssl/certs/ca-certificates.crt with a matching fingerprints.

[2020-03-23 13:32] tcmitchell commented on #122
* I think "Attempt to validate online failed" is a [red herring](https://en.wikipedia.org/wiki/Red_herring). The [code in question](https://github.com/SynBioDex/libSBOL/blob/develop/source/partshop.cpp#L284-L360) is not contacting the online validator. This is probably a copy/paste error.
* The C++ code invoked here does not set `CURLOPT_CAINFO`, which seems the likely culprit in this case. Other

[2020-03-25 15:49] #119 closed, assigned to nobody

[2020-06-14 08:28] ms03831 opened #123 "python 3.8.3 Windows 10 Can't find pysbol"
I'm trying to install pysbol on Windows 10. I have python 3.8.3 installed.
`pip install pysbol`
leads to
`ERROR: Could not find a version that satisfies the requirement pysbol
ERROR: No matching distribution found for pysbol)`
pySBOL works well on the same python distribution (3.8.3) on Mac/Linux but on windows it gives me the above error.

[2020-06-14 08:34] ms03831 opened #124 "pysbol 2.3.2.post5 error: Cannot Validate Online"
Find below the error:
![pysbol error](https://user-images.githubusercontent.com/31242863/84588720-51677d00-ae43-11ea-87a7-69bfc36da9e6.png)
The same code works well on Mac and linux(pysbol 2.3.3.post5). The 2.3.3 version of pysbol is not available for Windows as highlighted in this [issue](https://github.com/SynBioDex/pySBOL/issues/123)

[2020-06-15 14:23] tcmitchell commented on #123
Hi @ms03831, there is a pure python version of pySBOL available at https://github.com/SynBioDex/pySBOL2. It is not yet complete, but it's getting close. If your existing programs do not work with it, we would like to hear about it so that we can fix those issues. Please consider giving it a try.

To do so, you'll have to install it (roughly `pip3 install sbol2`, adjust as needed for your environme

[2020-10-02 18:15] jakebeal opened #125 "Post deprecation and pointer"
Since pySBOL is no longer being actively maintained and has been replaced by pySBOL2, this library should have a marker in its README to let people know this and to point them to pySBOL2.

[2020-10-20 18:56] #125 closed, assigned to nobody

[2020-11-11 17:44] eyesmo opened #132 "Failed testSBOL"
Running in a Colab notebook, most tests worked, but one failed:

======================================================================
ERROR: testCopyAndIncrementVersion (sbol.unit_tests.TestCopy)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/sbol/unit_tests.py", line 727, in testCopyAndIncr

[2020-11-11 17:55] bbartley commented on #132
Hi @eyesmo this is an expected failure on linux systems specifically.  This test covers an edge case that you likely won't need to worry about.  The library is still safe to use.

[2020-11-11 18:01] eyesmo commented on #132
Good to know, thanks!

[2020-11-11 18:34] jakebeal commented on #132
@bbartley Is there a way that we can mark it as expected failure for linux?

[2021-02-03 00:29] eyesmo opened #133 "write/export functions crash Colab Notebook"
Hi! I'm working on learning to use pySBOL for my wetware design work. Towards that end, I've been trying to take some genetic designs stored in Benchling, and re-build them as SBOL documents with pySBOL, in a Colab notebook.

I've gotten to the 'last' step, of writing the design to a .xml or exporting the design to a .gb file. However, when I try to run either
`result = doc.write(folderPath + 'AF_

[2021-02-03 00:51] bbartley commented on #133
Hi @eyesmo thanks for trying out pysbol!

One thing you can try before calling `doc.write` is to call `print(doc.validate())` to see if you can identify problems with the `Document`

An easy fix I would suggest trying is to simply replace pysbol with https://github.com/SynBioDex/pySBOL2.   pySBOL2 is implemented natively in Python rather than C++ so it is more stable than pySBOL.  The APIs are exa

[2021-02-03 21:34] eyesmo commented on #133
Thanks for the suggestions! I've switched to using pySBOL2.

`print(doc.validate())` throws the following strong validation error:
`Invalid. sbol-10902:� Strong Validation Error:� The locations property of a SequenceAnnotation is REQUIRED and MUST contain a non-empty set of Location objects.  �Reference: SBOL Version 2.3.0 Section 7.7.4 on page 32 :� http://sys-bio.org/ComponentDefinition/AF_SpisP

[2021-02-03 22:49] bbartley commented on #133
These lines are potentially problematic:
[code]
And can be replaced with the following.  Note that Range is a subclass of Location, you only need to create one or the other type of object, not both:
[code]

[2021-02-04 00:24] eyesmo commented on #133
Thanks so much! That and a couple other tweaks got the whole design to be valid. One last question: how would you recommend visualizing a finished design, to check that the sequence is correct and features are correctly positioned? I tried exporting to genbank but the conversion was quite lossy when I opened it in Snapgene Viewer: the full sequence showed up, but all the annotations were labeled o

[2021-02-05 01:36] bbartley commented on #133
Generally speaking there isn't great interoperability between sequence editors and SBOL tools...there's definitely a need.  As for visualization tools, there aren't any great ones in Python.  There are the https://sbolcanvas.org/canvas/ and http://visbol.org/ webtools for visualization.  Also, I believe there is a SnapGene plug-in for Synbiohub.  For more about this I'll refer you to @cjmyers .  C

[2021-02-08 20:36] eyesmo opened #134 "Retrieving the names of SBOL roles"
Hi there,

I'm starting to do some genetic design with the Synthetic Biology Open Language (SBOL), and am starting to assign roles to components:

[code]
I'm now trying to retrieve a string of the term describing the role of that object, but don't know the right way to do it. All I've been able to retrieve so far is the link to the term's webpage on the Sequence Ontology (identifiers.org/so/) webs

[2021-02-08 20:53] jakebeal commented on #134
@bbartley's TYTO tool is designed to solve this problem, in both directions: https://github.com/SynBioDex/tyto

[2021-02-08 20:55] eyesmo commented on #134
Thanks Jake!

[2021-02-08 21:13] eyesmo commented on #134
Having a bit of trouble getting TYTO to work without throwing Lookup Errors:
[code]

[2021-02-08 21:17] bbartley commented on #134
Try `https://identifiers.org/SO:0002223`

[2021-02-08 21:20] jakebeal commented on #134
@bbartley It looks like the alternate (redundant) form that @eyesmo  is using is also supported by identifiers.org, so maybe TYTO should try to support that as well, even though it's not recommended?  In either case, this issue should probably be migrated to TYTO.

[2021-02-08 21:21] eyesmo commented on #134
Will do, migrating now

[2021-02-08 21:21] #134 closed, assigned to nobody

[2022-01-14 15:28] breakthewall opened #138 "pull malfunctions on Debian and CentOS"
Hi,

we still use pySBOL with old tools and I noticed a malfunction under Debian and CentOS. And we try to run these commands under a Galaxy instance which is under Debian.

If we install pySBOL via `pip` and run the following commands:

[code]

the following result is obtained:

[code]

While on Ubuntu, the following result (expected) is obtained:

[code]

Python 3.7, 3.8 on different computers o

[2022-01-14 15:34] jakebeal commented on #138
Can you please prove some additional information about the nature of the problem? What tools are you using that depend on pySBOL in this way? In general, pySBOL2 should be able to used as a drop-in replacement for pySBOL, and pySBOL2 is being actively maintained while pySBOL is not.

[2022-01-14 16:04] breakthewall commented on #138
Many thanks for your (very) fast reply.

Actually we are developing a suite of tools for Synthetic Biology (we asked for the creation of such a category under the main toolshed of Galaxy). Among these tools, some of them have been developed with  pySBOL (PartsGenie, doebase, LCRGenie, DNAWeaver). I tried to replace sbol import by sbol2 but it is not straightforward and code have to be modified. Si

[2022-01-14 17:12] jakebeal commented on #138
@bbartley Do you think this is a wheel issue? Is there any good way to tweak that?

@breakthewall Is there any ability to build from source instead of installing via pip in your environment? That might be a way to get around it too.

[2022-01-14 17:57] bbartley commented on #138
The problem appears to be that the user can't fetch from Synbiohub on CentOS.  My hunch is that the HTTPS protocol used by Synbiohub is not supported on this system.  Because some linux systems lack built-in crypto libraries (and CentOS might be one of these), some old wheels do not support HTTPS.  In later wheel versions, I started statically linking crypto libraries into the pysbol binaries to g

[2022-01-14 18:07] jakebeal commented on #138
I also wonder: can these tools be configured to use a local file rather than one retrieved from SynBioHub? If so, a workaround could be to download the files from SynBioHub via a copy of pySBOL2 and then run against the files rather than downloading on the fly.

[2022-01-15 10:07] breakthewall commented on #138
@jakebeal Thank you for your suggestion. Actually, we deploy tools on the Galaxy Tool Shed. Therefore, tools must be available as conda packages. As pySBOL is not available on anaconda.org, we already had to tweak to make it available on conda via one of our packages. Building form source could be useful for testing but not for deploying version.

One additional information is that Debian and Ubun

[2022-01-15 10:14] breakthewall commented on #138
@bbartley Below this is the result
[code]

This is weird because a `wget` download well the file on the same system (Debian Docker container).

[2022-01-15 10:17] breakthewall commented on #138
@jakebeal ok I think this could a workaround but I prefer keep it as a last resort since I am not the developer of the code (we only integrate this tool) that worked at some point. I keep that tip as a backup. Thanks!

[2022-01-15 20:29] jakebeal commented on #138
I just went digging in a little deeper and found something curious that might be important.

I see that [doebase](https://github.com/pablocarb/doebase) doesn't actually use pySBOL as distributed --- its call to PartShop is actually [to an import of SbmlToSBOL](
https://github.com/pablocarb/doebase/blob/d1581fee289d4b7ac8ca574137b25d1f7eabc920/doebase/synbioParts.py#L24). In SbmlToSBOL, pySBOL isn'

[2022-01-15 20:50] jakebeal commented on #138
I've got a version of doebase passing tests with pySBOL2 and have set up a pull request to merge it into doebase: https://github.com/pablocarb/doebase/pull/9

Making this work required correcting a minor bug in doebase, which was exercised only with pySBOL2 and not with pySBOL.

[2022-01-15 20:52] jakebeal commented on #138
@breakthewall: I see that you have contributed to doebase. Do you have maintainer privileges over there, or do we need @pablocarb to review and approve the pull?

[2022-01-17 09:09] breakthewall commented on #138
Many thanks for your work guys! However, as I said:

1. Basing code on sbol2 makes the tool running but generates errors on downstream tools (lcr_genie and dnaweaver_synbiocad) since each tool of the chain has been built on SBOL v1 (sbml2sbol, partsgenie_client, doebase, lcr_genie, dnaweaver_synbiocad). I just tried with your changes and it produces a SBOL file that causes an error into lcr_genie,

[2022-01-17 11:39] jakebeal commented on #138
I think that there is no easy solution here --- either the tools need to be upgraded (and debugged) or the wheel needs to be debugged and rebuilt.

I suspect that the tool upgrade will be more sustainable:
1) These types of cross-system wheel differences are a major part of why we created pySBOL2 in the first place.
2) Since pySBOL2 is a drop-in replacement for pySBOL, any failure in a tool genera

[2022-01-18 17:21] jakebeal commented on #138
doebase is now updated to pySBOL2: https://github.com/pablocarb/doebase/pull/9#event-5911951741

Where are the repositories for the other tools?

[2022-01-19 10:00] breakthewall commented on #138
Thank you very much!
Pablo said me it is ok with LCRGenie but I have still some issues.
The workflow is the following:

sbml2sbol -> partsgenie_client -> partsgenie (server) -> doebase -> lcr_genie + dnaweaver_synbiocad

**sbml2sbol**: https://github.com/neilswainston/SbmlToSbol (maintainer)
**partsgenie_client**: https://github.com/neilswainston/PartsGenieClient (maintainer)
**partsgenie** (serve

[2022-01-19 19:59] breakthewall commented on #138
Ok so after multiple tests, Pablo (doebase developper) confirms that the output file of new version of doebase provides an error with LCRGenie.

[2022-01-19 20:29] jakebeal commented on #138
Do you have a test case that demonstrates said error?

[2022-01-19 22:07] breakthewall commented on #138
**SBOL2**
From the master branch (`pysbol2`) of `doebase`:
`python -m doebase tests/data/input/lycopene.csv --sbol_file tests/data/input/lycopene.xml --func doeGetSBOL constructs.xml`

Then, from `LCRGenie` master branch:
`python -m lcr_genie constructs.xml plan.xlsx`
Got (with SBOL or SBOL2):
[code]

**SBOL**
From the stable branch (`pysbol`) of `doebase`:
`python -m doebase tests/data/input/lyco

[2022-01-19 22:37] jakebeal commented on #138
I believe I've found the problem in LCRGenie: it's currently assuming that when you iterate over a set-value feature, that the set will be sorted in alphabetical order. This is a fragile assumption that happens to work only because libSBOL happens to be writing in that order, reading in that order, and then nothing touched the document before it walked the features.  pySBOL2 happens to not always

[2022-01-19 22:49] jakebeal commented on #138
OK, got it worked out. There is a pull request set up for LCRGenie now: https://github.com/neilswainston/LCRGenie/pull/1

[2022-01-20 12:12] jakebeal commented on #138
@breakthewall I've now got a pull request set up for you on dnaweaver_synbiocad as well: https://github.com/brsynth/DNAWeaver_SynBioCAD/pull/1
The upgrade needed here was identical to that of LCRGenie.

[2022-01-20 12:52] breakthewall commented on #138
I'm impressed by your reactivity. I think LCRGenie and DNAWeaver_SynBioCAD have that part in common (copy/paste).

Tests (files in SBOL) run well for LCRGenie which means that it is still compliant with SBOL files with your modifications. However, I get the same error as before on new files (SBOL2) provided by doebase (new version)

[code]

The file generated by doebase (SBOL2) is available here:

[2022-01-20 13:03] jakebeal commented on #138
I've been working on this error now too... it looks like the problem is that when using pySBOL2, doebase is not actually connecting the sequences to the ComponentDefinition objects for the genes. It looks like the problem is somewhere in `synbioParts._defineParts`. That function, unfortunately, silently swallows a lot of exceptions, so I suspect that there is a bug in there that is getting exercis

[2022-01-20 13:07] breakthewall commented on #138
I agree with your diagnosis, that was I felt. I know Pablo (doebase dev) is busy today with an important meeting (where I'm also involved) but I'm gonna try to dig into this issue.

[2022-01-20 16:48] breakthewall commented on #138
First feedback, I do not understand why I have this behavior ([lycopene.xml](https://github.com/pablocarb/doebase/blob/master/tests/data/input/lycopene.xml)):

[code]

In short, I tried the code of `doebase`:
[code]

[2022-01-20 17:09] jakebeal commented on #138
Looks like there's a bug associated with the remapping of the namespace.

When I put in `doc1.copy('http://liverpool.ac.uk', doc2)`, the identity is getting mapped into the default that has been set instead:
[code]

When I just copy the materials without attempting to remap the namespaces, it comes through correctly and still linked:
[code]

[2022-01-20 17:30] jakebeal commented on #138
I've filed a bug on pySBOL2 (https://github.com/SynBioDex/pySBOL2/issues/413).

Since I don't think there's a reason to try to remap the namespace to itself, however, copying without namespace remapping can be used, avoiding the bug.

[2022-01-20 19:21] jakebeal commented on #138
Got a pull request up with something that appears to fix this issue (https://github.com/pablocarb/doebase/pull/12), including allowing the file from your test case to run without raising an exception in LCRGenie.  I leave it to you to assess whether the output is the desired output or not, as I have discovered more troubling code fragilities in doebase.

[2022-01-20 21:10] breakthewall commented on #138
Ok all seems to work now! I've tested `doebase`, `lcr_genie` and `dnaweaver_synbiocad` and no error raised, even on Debian.

I'm currently publishing new releases of these tools and I will have a look on upstream tools to try again to migrate to pySBOL2. I take your modifications and add some major code simplifications and made a new PR.

Thank you very much for your very useful help, we greatly a

[2022-01-20 21:23] jakebeal commented on #138
You're welcome! Hopefully the changes that were made on these tools can be a good template for debugging switch-overs in the upstream tools as well.

[2022-01-20 21:24] jakebeal commented on #138
I am closing this issue as I believe it is now complete. If there are additional problems in the pipeline, please open a new issue and link this one.

[2022-01-20 21:24] #138 closed, assigned to nobody

[2022-01-20 21:27] jakebeal commented on #133
As there has been no activity on this issue for nearly a year, I'm going to close it. Please open a new issue if additional help is needed.

[2022-01-20 21:27] #133 closed, assigned to nobody

[2022-01-20 21:28] jakebeal commented on #99
Moot.

[2022-01-20 21:28] #99 closed, assigned to nobody

[2022-01-20 21:28] jakebeal commented on #117
Moot, given migration to pySBOL2

[2022-01-20 21:28] #117 closed, assigned to nobody

[2022-01-20 21:30] jakebeal commented on #110
OBE, but I believe may be getting handled in pySBOL3 by https://github.com/SynBioDex/pySBOL3/issues/301

[2022-01-20 21:30] #110 closed, assigned to nobody

[2022-01-20 21:31] jakebeal commented on #90
Handled in pySBOL2, where the namespace parameter is optional.

[2022-01-20 21:31] #90 closed, assigned to bbartley

[2022-01-20 21:31] jakebeal commented on #86
OBE; pySBOL2 is fully compatible to the best of our knowledge.

[2022-01-20 21:31] #86 closed, assigned to nobody

[2022-01-20 21:32] jakebeal commented on #87
OBE; if still needed should be reopened on pySBOL2.

[2022-01-20 21:32] #87 closed, assigned to nobody

[2022-01-20 21:33] jakebeal commented on #88
Is this still an issue with pySBOL2? I am closing here, and if it is still an issue, please reopen on pySBOL2.

[2022-01-20 21:33] #88 closed, assigned to nobody

[2022-01-20 21:35] jakebeal commented on #96
This should now be moot given the shift to pySBOL2.

[2022-01-20 21:35] #96 closed, assigned to nobody

[2022-01-20 21:35] jakebeal commented on #93
I am guessing this resolved the issue; if not, please reopen.

[2022-01-20 21:35] #93 closed, assigned to nobody

[2022-01-20 21:37] jakebeal commented on #118
Seeing no response to the questions, I am assuming that @ifiddes resolved this issue via the validator directly.

[2022-01-20 21:37] #118 closed, assigned to nobody

[2022-01-20 21:37] jakebeal commented on #120
Already fixed in referenced commit.

[2022-01-20 21:37] #120 closed, assigned to nobody

[2022-01-20 21:38] jakebeal commented on #58
pySBOL and pySBOL2 are both running in conda environments.

[2022-01-20 21:38] #58 closed, assigned to kirichoi

[2022-01-20 21:39] jakebeal commented on #67
Likely resolved long ago, and moot in any case given the shift to pySBOL2

[2022-01-20 21:39] #67 closed, assigned to nobody

[2022-01-20 21:40] jakebeal commented on #61
Options were documented at some point: https://pysbol.readthedocs.io/en/stable/autoapi/sbol2/config/index.html?highlight=options#sbol2.config.options

[2022-01-20 21:40] #61 closed, assigned to nobody

[2022-01-20 21:41] jakebeal commented on #60
Extensions were documented at some point: https://pysbol.readthedocs.io/en/stable/extensions.html?highlight=extension

[2022-01-20 21:41] #60 closed, assigned to nobody

[2022-01-20 21:41] jakebeal commented on #52
Moot given the shift to pySBOL2.

[2022-01-20 21:41] #52 closed, assigned to nobody

[2022-01-20 21:42] jakebeal commented on #44
Moot, given the shift to pySBOL2 and pySBOL3

[2022-01-20 21:42] #44 closed, assigned to kirichoi

[2022-01-20 21:43] jakebeal commented on #43
I believe this has been effectively addressed by Jupyter notebooks in recent tutorials.

[2022-01-20 21:43] #43 closed, assigned to kirichoi